Repository openedx/edx-platform, pull requests merged in 2018-06, with the labels that each got.

#18299 [ENT-979] Bump edX Enterprise to 0.69.0.
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/testing.txt
Labels: needs triage, open-source-contribution

#18189 Centers all login-register forms
  lms/static/sass/views/_login-register.scss
Labels: open-source-contribution, product review

#17362 Add custom HTML to Course About page sidebar
  cms/djangoapps/contentstore/tests/test_course_settings.py
  cms/djangoapps/contentstore/views/course.py
  cms/static/js/views/settings/main.js
  cms/static/sass/views/_settings.scss
  cms/templates/settings.html
  lms/djangoapps/courseware/courses.py
  lms/djangoapps/courseware/tests/test_about.py
  lms/djangoapps/courseware/views/views.py
  lms/static/sass/multicourse/_course_about.scss
  lms/templates/courseware/course_about.html
  openedx/core/djangoapps/models/course_details.py
  openedx/core/djangoapps/models/tests/test_course_details.py
  openedx/features/course_experience/waffle.py
Labels: awaiting prioritization, open-source-contribution

#15940 OAuth2 API to call XBlock handlers
  lms/djangoapps/courseware/module_render.py
  lms/djangoapps/courseware/tests/test_entrance_exam.py
  lms/djangoapps/courseware/tests/test_module_render.py
  lms/static/js/ajax-error.js
  lms/urls.py
Labels: engineering review, open-source-contribution

#18213 Allow solutions to be displayed past due on showanswer=attempted
  common/lib/xmodule/xmodule/capa_base.py
  common/lib/xmodule/xmodule/tests/test_capa_module.py
Labels: engineering review, open-source-contribution

#18388 Update documentation links that return 404 errors.
  CONTRIBUTING.rst
  README.rst
  docs/best_practices.rst
  docs/bootstrap.rst
  docs/index.rst
  openedx/core/djangoapps/schedules/docs/README.rst
Labels: open-source-contribution, waiting on author

#18273 Mark blocks completed on view in render_xblock view.
  common/lib/xmodule/xmodule/assets/vertical/public/js/vertical_student_view.js
  common/lib/xmodule/xmodule/tests/test_vertical.py
  common/lib/xmodule/xmodule/vertical_block.py
  common/test/acceptance/pages/lms/completion.py
  common/test/acceptance/pages/lms/courseware.py
  common/test/acceptance/tests/lms/test_lms_courseware.py
  common/test/db_fixtures/waffle_flags.json
  lms/djangoapps/courseware/tests/test_views.py
  lms/djangoapps/courseware/testutils.py
  lms/djangoapps/courseware/views/views.py
  lms/djangoapps/lms_xblock/mixin.py
  lms/envs/bok_choy.py
  lms/static/completion/js/CompletionOnViewService.js
  lms/static/completion/js/ViewedEvent.js
  lms/static/completion/js/spec/ViewedEvent_spec.js
  lms/static/js/courseware.js
  lms/templates/courseware/courseware-chromeless.html
  lms/templates/vert_module.html
  openedx/core/lib/tests/test_xblock_utils.py
  openedx/core/lib/xblock_utils/__init__.py
  openedx/tests/completion_integration/test_services.py
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/testing.txt
  webpack.common.config.js
Labels: open-source-contribution, waiting on author

#18461 Add python-modernize INCR-3
  .gitignore
  lms/djangoapps/course_goals/views.py
  lms/djangoapps/dashboard/sysadmin.py
  lms/djangoapps/edxnotes/views.py
  lms/djangoapps/notes/api.py
  lms/djangoapps/notifier_api/tests.py
  openedx/core/djangoapps/api_admin/admin.py
  openedx/core/djangoapps/catalog/views.py
  requirements/edx/base.txt
  requirements/edx/development.in
  requirements/edx/development.txt
  requirements/edx/testing.txt
Labels: engineering review, open-source-contribution
