Repository openedx/edx-platform, pull requests merged in 2019-05, with the labels that each got.

#20023 CapaModule to ProblemBlock [SE-397]
  cms/djangoapps/contentstore/tests/test_contentstore.py
  cms/djangoapps/contentstore/tests/test_crud.py
  cms/djangoapps/contentstore/views/tests/test_item.py
  cms/lib/xblock/tagging/tagging.py
  common/lib/xmodule/setup.py
  common/lib/xmodule/xmodule/capa_base.py
  common/lib/xmodule/xmodule/capa_base_constants.py
  common/lib/xmodule/xmodule/capa_module.py
  common/lib/xmodule/xmodule/editing_module.py
  common/lib/xmodule/xmodule/library_tools.py
  common/lib/xmodule/xmodule/mako_module.py
  common/lib/xmodule/xmodule/raw_module.py
  common/lib/xmodule/xmodule/static_content.py
  common/lib/xmodule/xmodule/tests/test_capa_module.py
  common/lib/xmodule/xmodule/tests/test_content.py
  common/lib/xmodule/xmodule/tests/test_delay_between_attempts.py
  common/lib/xmodule/xmodule/tests/test_xblock_wrappers.py
  common/lib/xmodule/xmodule/x_module.py
  common/lib/xmodule/xmodule/xml_module.py
  lms/djangoapps/courseware/module_render.py
  lms/djangoapps/courseware/tests/test_entrance_exam.py
  lms/djangoapps/courseware/tests/test_module_render.py
  lms/djangoapps/courseware/tests/test_submitting_problems.py
  lms/djangoapps/courseware/tests/test_views.py
  lms/djangoapps/grades/tests/utils.py
  lms/djangoapps/instructor_task/tests/test_tasks_helper.py
  openedx/core/lib/xblock_utils/__init__.py
Labels: engineering review, open-source-contribution

#20101 Split calc package out into an independent package
  .coveragerc
  .coveragerc-local
  common/lib/calc/calc/__init__.py
  common/lib/calc/calc/calc.py
  common/lib/calc/calc/functions.py
  common/lib/calc/calc/preview.py
  common/lib/calc/calc/tests/__init__.py
  common/lib/calc/calc/tests/test_calc.py
  common/lib/calc/calc/tests/test_preview.py
  common/lib/calc/setup.py
  docs/common_lib.rst
  docs/conf.py
  docs/testing.rst
  requirements/edx-sandbox/base.in
  requirements/edx-sandbox/base.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/github.in
  requirements/edx/local.in
  requirements/edx/testing.txt
  scripts/py2_to_py3_convert_and_create_pr.sh
Labels: awaiting prioritization, open-source-contribution

#20404 INCR-157 Modernize openedx/core/djangoapps/video_config
  openedx/core/djangoapps/video_config/admin.py
  openedx/core/djangoapps/video_config/forms.py
  openedx/core/djangoapps/video_config/migrations/0001_initial.py
  openedx/core/djangoapps/video_config/migrations/0002_coursevideotranscriptenabledflag_videotranscriptenabledflag.py
  openedx/core/djangoapps/video_config/migrations/0003_transcriptmigrationsetting.py
  openedx/core/djangoapps/video_config/migrations/0004_transcriptmigrationsetting_command_run.py
  openedx/core/djangoapps/video_config/migrations/0005_auto_20180719_0752.py
  openedx/core/djangoapps/video_config/migrations/0006_videothumbnailetting_updatedcoursevideos.py
  openedx/core/djangoapps/video_config/migrations/0007_videothumbnailsetting_offset.py
  openedx/core/djangoapps/video_config/models.py
  openedx/core/djangoapps/video_config/tests/test_models.py
Labels: open-source-contribution, waiting on author

#20417 INCR-150 Modernize common/test/acceptance/tests/video
  common/test/acceptance/tests/video/test_studio_video_editor.py
  common/test/acceptance/tests/video/test_studio_video_module.py
  common/test/acceptance/tests/video/test_studio_video_transcript.py
  common/test/acceptance/tests/video/test_video_events.py
  common/test/acceptance/tests/video/test_video_handout.py
  common/test/acceptance/tests/video/test_video_license.py
  common/test/acceptance/tests/video/test_video_module.py
  common/test/acceptance/tests/video/test_video_times.py
Labels: needs triage, open-source-contribution

#20416 INCR-212 ran modernize on openedx/core/djangoapps/util/tests and management
  openedx/core/djangoapps/util/management/commands/print_setting.py
  openedx/core/djangoapps/util/management/commands/reset_db.py
  openedx/core/djangoapps/util/tests/test_print_setting.py
  openedx/core/djangoapps/util/tests/test_signals.py
  openedx/core/djangoapps/util/tests/test_user_messages.py
  openedx/core/djangoapps/util/tests/test_user_utils.py
Labels: awaiting prioritization, open-source-contribution

#20408 INCR-155 Modernize openedx/core/djangoapps/video_config
  openedx/core/djangoapps/embargo/admin.py
  openedx/core/djangoapps/embargo/api.py
  openedx/core/djangoapps/embargo/forms.py
  openedx/core/djangoapps/embargo/messages.py
  openedx/core/djangoapps/embargo/middleware.py
  openedx/core/djangoapps/embargo/migrations/0001_initial.py
  openedx/core/djangoapps/embargo/migrations/0002_data__add_countries.py
  openedx/core/djangoapps/embargo/models.py
  openedx/core/djangoapps/embargo/test_utils.py
  openedx/core/djangoapps/embargo/tests/factories.py
  openedx/core/djangoapps/embargo/tests/test_api.py
  openedx/core/djangoapps/embargo/tests/test_forms.py
  openedx/core/djangoapps/embargo/tests/test_middleware.py
  openedx/core/djangoapps/embargo/tests/test_models.py
  openedx/core/djangoapps/embargo/tests/test_views.py
  openedx/core/djangoapps/embargo/urls.py
  openedx/core/djangoapps/embargo/views.py
Labels: open-source-contribution, waiting on author

#20418 INCR-119 modernize openedx/core/djangoapps/certificates …
  openedx/core/djangoapps/certificates/api.py
  openedx/core/djangoapps/certificates/config/waffle.py
  openedx/core/djangoapps/certificates/tests/test_api.py
  openedx/core/djangoapps/commerce/utils.py
  openedx/core/djangoapps/common_initialization/apps.py
  openedx/core/djangoapps/common_initialization/checks.py
  openedx/core/djangoapps/config_model_utils/admin.py
  openedx/core/djangoapps/config_model_utils/apps.py
  openedx/core/djangoapps/config_model_utils/models.py
  openedx/core/djangoapps/config_model_utils/utils.py
Labels: open-source-contribution, waiting on author

#20421 INCR-221 ran modernize on openedx/core/djangoapps/user_api/config, validation,…
  openedx/core/djangoapps/user_api/course_tag/api.py
  openedx/core/djangoapps/user_api/course_tag/tests/test_api.py
  openedx/core/djangoapps/user_api/migrations/0001_initial.py
  openedx/core/djangoapps/user_api/migrations/0002_retirementstate_userretirementstatus.py
  openedx/core/djangoapps/user_api/migrations/0003_userretirementrequest.py
  openedx/core/djangoapps/user_api/migrations/0004_userretirementpartnerreportingstatus.py
  openedx/core/djangoapps/user_api/validation/tests/test_views.py
  openedx/core/djangoapps/user_api/validation/views.py
Labels: open-source-contribution, waiting on author

#20423 INCR-223 ran modernize on openedx/features/course_search, course_experience, a…
  openedx/features/course_experience/__init__.py
  openedx/features/course_experience/course_tools.py
  openedx/features/course_experience/plugins.py
  openedx/features/course_experience/urls.py
  openedx/features/course_experience/utils.py
  openedx/features/course_experience/waffle.py
  openedx/features/course_search/urls.py
  openedx/features/course_search/views/course_search.py
  openedx/features/coursetalk/migrations/0001_initial.py
  openedx/features/coursetalk/migrations/0002_auto_20160325_0631.py
Labels: open-source-contribution, waiting on author

#20414 INCR-220
  openedx/core/djangoapps/user_api/preferences/api.py
  openedx/core/djangoapps/user_api/preferences/tests/test_api.py
  openedx/core/djangoapps/user_api/preferences/tests/test_views.py
  openedx/core/djangoapps/user_api/preferences/views.py
  openedx/core/djangoapps/user_api/tests/factories.py
  openedx/core/djangoapps/user_api/tests/test_helpers.py
  openedx/core/djangoapps/user_api/tests/test_middleware.py
  openedx/core/djangoapps/user_api/tests/test_models.py
  openedx/core/djangoapps/user_api/tests/test_partition_schemes.py
  openedx/core/djangoapps/user_api/tests/test_views.py
  openedx/core/djangoapps/user_api/verification_api/tests/test_views.py
  openedx/core/djangoapps/user_api/verification_api/views.py
Labels: open-source-contribution, waiting on author

#20409 INCR-112: python-modernize openedx/core/djangoapps/ace_common
  openedx/core/djangoapps/ace_common/apps.py
  openedx/core/djangoapps/ace_common/message.py
  openedx/core/djangoapps/ace_common/settings/devstack.py
  openedx/core/djangoapps/ace_common/template_context.py
  openedx/core/djangoapps/ace_common/templatetags/ace.py
  openedx/core/djangoapps/ace_common/tests/mixins.py
  openedx/core/djangoapps/ace_common/tests/test_message.py
  openedx/core/djangoapps/ace_common/tests/test_templatetags.py
  openedx/core/djangoapps/ace_common/tests/test_tracking.py
  openedx/core/djangoapps/ace_common/tracking.py
Labels: open-source-contribution, waiting on author

#18675 Fix the unpredictable order randomization issue with randomized content blocks
  common/lib/xmodule/xmodule/library_content_module.py
  common/lib/xmodule/xmodule/tests/test_library_content.py
  lms/djangoapps/course_blocks/api.py
  lms/djangoapps/course_blocks/transformers/library_content.py
  lms/djangoapps/course_blocks/transformers/tests/test_library_content.py
  setup.py
Labels: engineering review, open-source-contribution

#20428 INCR-215 run modernizer on djangoapps-credetials migration, test & setting
  openedx/core/djangoapps/credentials/migrations/0001_initial.py
  openedx/core/djangoapps/credentials/migrations/0002_auto_20160325_0631.py
  openedx/core/djangoapps/credentials/migrations/0003_auto_20170525_1109.py
  openedx/core/djangoapps/credentials/migrations/0004_notifycredentialsconfig.py
  openedx/core/djangoapps/credentials/tests/factories.py
  openedx/core/djangoapps/credentials/tests/mixins.py
  openedx/core/djangoapps/credentials/tests/test_models.py
  openedx/core/djangoapps/credentials/tests/test_signals.py
  openedx/core/djangoapps/credentials/tests/test_tasks.py
  openedx/core/djangoapps/credentials/tests/test_utils.py
Labels: open-source-contribution, waiting on author

#20429 INCR-224: run python-modernize and isort for openedx/features/course…
  openedx/features/course_duration_limits/management/commands/cdl_setup_models_to_send_test_emails.py
  openedx/features/course_duration_limits/management/commands/send_access_expiry_reminder.py
  openedx/features/course_duration_limits/migrations/0001_initial.py
  openedx/features/course_duration_limits/migrations/0002_auto_20181119_0959.py
  openedx/features/course_duration_limits/migrations/0003_auto_20181128_1407.py
  openedx/features/course_duration_limits/migrations/0004_auto_20181128_1521.py
  openedx/features/course_duration_limits/migrations/0005_auto_20190306_1546.py
  openedx/features/course_duration_limits/migrations/0006_auto_20190308_1447.py
  openedx/features/course_duration_limits/migrations/0007_auto_20190311_1919.py
  openedx/features/course_duration_limits/migrations/0008_auto_20190313_1634.py
  openedx/features/course_duration_limits/tests/test_access.py
  openedx/features/course_duration_limits/tests/test_course_expiration.py
  openedx/features/course_duration_limits/tests/test_models.py
Labels: open-source-contribution, waiting on author

#20433 INCR-122 Modernize track/management.
  common/djangoapps/track/management/commands/tracked_dummy_command.py
  common/djangoapps/track/management/tests/test_tracked_command.py
  common/djangoapps/track/management/tracked_command.py
Labels: open-source-contribution, waiting on author

#20437 Modernize common/djangoapps/util- INCR-203
  common/djangoapps/util/admin.py
  common/djangoapps/util/bad_request_rate_limiter.py
  common/djangoapps/util/cache.py
  common/djangoapps/util/config_parse.py
  common/djangoapps/util/course.py
  common/djangoapps/util/date_utils.py
  common/djangoapps/util/db.py
  common/djangoapps/util/disable_rate_limit.py
  common/djangoapps/util/file.py
  common/djangoapps/util/json_request.py
  common/djangoapps/util/keyword_substitution.py
  common/djangoapps/util/memcache.py
  common/djangoapps/util/milestones_helpers.py
  common/djangoapps/util/model_utils.py
  common/djangoapps/util/models.py
  common/djangoapps/util/organizations_helpers.py
  common/djangoapps/util/password_policy_validators.py
  common/djangoapps/util/query.py
  common/djangoapps/util/testing.py
  common/djangoapps/util/url.py
  common/djangoapps/util/views.py
Labels: open-source-contribution, waiting on author

#20431 INCR-226 run modernize on common/lib/xmodule/xmodule/modulestore/mong…
  common/lib/xmodule/xmodule/modulestore/mongo/__init__.py
  common/lib/xmodule/xmodule/modulestore/mongo/base.py
  common/lib/xmodule/xmodule/modulestore/mongo/draft.py
  common/lib/xmodule/xmodule/modulestore/perf_tests/generate_asset_xml.py
  common/lib/xmodule/xmodule/modulestore/perf_tests/generate_report.py
  common/lib/xmodule/xmodule/modulestore/perf_tests/test_asset_import_export.py
  common/lib/xmodule/xmodule/modulestore/split_mongo/__init__.py
  common/lib/xmodule/xmodule/modulestore/split_mongo/caching_descriptor_system.py
  common/lib/xmodule/xmodule/modulestore/split_mongo/definition_lazy_loader.py
  common/lib/xmodule/xmodule/modulestore/split_mongo/id_manager.py
  common/lib/xmodule/xmodule/modulestore/split_mongo/mongo_connection.py
  common/lib/xmodule/xmodule/modulestore/split_mongo/split.py
  common/lib/xmodule/xmodule/modulestore/split_mongo/split_draft.py
  common/lib/xmodule/xmodule/modulestore/split_mongo/split_mongo_kvs.py
Labels: open-source-contribution, waiting on author

#20442 INCR-114: Run python-modernize on openedx/core/djangoapps/auth_exchange
  openedx/core/djangoapps/auth_exchange/forms.py
  openedx/core/djangoapps/auth_exchange/tests/mixins.py
  openedx/core/djangoapps/auth_exchange/tests/test_forms.py
  openedx/core/djangoapps/auth_exchange/tests/test_views.py
  openedx/core/djangoapps/auth_exchange/tests/utils.py
  openedx/core/djangoapps/auth_exchange/views.py
Labels: open-source-contribution, waiting on author

#20427 INCR-227: python-modernize on common/lib/xmodule/xmodule/video_module…
  common/lib/xmodule/xmodule/partitions/partitions.py
  common/lib/xmodule/xmodule/partitions/partitions_service.py
  common/lib/xmodule/xmodule/partitions/tests/test_partitions.py
  common/lib/xmodule/xmodule/util/duedate.py
  common/lib/xmodule/xmodule/util/misc.py
  common/lib/xmodule/xmodule/util/sandboxing.py
  common/lib/xmodule/xmodule/util/xmodule_django.py
  common/lib/xmodule/xmodule/video_module/__init__.py
  common/lib/xmodule/xmodule/video_module/bumper_utils.py
  common/lib/xmodule/xmodule/video_module/transcripts_utils.py
  common/lib/xmodule/xmodule/video_module/video_handlers.py
  common/lib/xmodule/xmodule/video_module/video_module.py
  common/lib/xmodule/xmodule/video_module/video_utils.py
  common/lib/xmodule/xmodule/video_module/video_xfields.py
Labels: open-source-contribution, waiting on author

#20446 INCR-129: Run python-modernize on common/djangoapps/entitlements/management and tests
  common/djangoapps/entitlements/management/commands/expire_old_entitlements.py
  common/djangoapps/entitlements/management/commands/tests/test_expire_old_entitlements.py
  common/djangoapps/entitlements/tests/factories.py
  common/djangoapps/entitlements/tests/test_models.py
  common/djangoapps/entitlements/tests/test_tasks.py
  common/djangoapps/entitlements/tests/test_utils.py
Labels: open-source-contribution, waiting on author

#20447 INCR-130: Run python-modernize on common/djangoapps/entitlements/migrations
  common/djangoapps/entitlements/migrations/0001_initial.py
  common/djangoapps/entitlements/migrations/0002_auto_20171102_0719.py
  common/djangoapps/entitlements/migrations/0003_auto_20171205_1431.py
  common/djangoapps/entitlements/migrations/0004_auto_20171206_1729.py
  common/djangoapps/entitlements/migrations/0005_courseentitlementsupportdetail.py
  common/djangoapps/entitlements/migrations/0006_courseentitlementsupportdetail_action.py
  common/djangoapps/entitlements/migrations/0007_change_expiration_period_default.py
  common/djangoapps/entitlements/migrations/0008_auto_20180328_1107.py
  common/djangoapps/entitlements/migrations/0009_courseentitlement_refund_locked.py
  common/djangoapps/entitlements/migrations/0010_backfill_refund_lock.py
Labels: awaiting prioritization, open-source-contribution

#20448 INCR-131: Run python-modernize on common/djangoapps/entitlements/api
  common/djangoapps/entitlements/api/urls.py
  common/djangoapps/entitlements/api/v1/filters.py
  common/djangoapps/entitlements/api/v1/permissions.py
  common/djangoapps/entitlements/api/v1/serializers.py
  common/djangoapps/entitlements/api/v1/tests/test_serializers.py
  common/djangoapps/entitlements/api/v1/tests/test_views.py
  common/djangoapps/entitlements/api/v1/urls.py
  common/djangoapps/entitlements/api/v1/views.py
Labels: awaiting prioritization, open-source-contribution

#20422 INCR-225: python-modernize on openedx/core/djangoapps/geoinfo, monkey…
  openedx/core/djangoapps/geoinfo/middleware.py
  openedx/core/djangoapps/geoinfo/tests/test_middleware.py
  openedx/core/djangoapps/plugin_api/views.py
  openedx/core/djangoapps/xmodule_django/models.py
Labels: open-source-contribution, waiting on author

#20445 INCR-124: Run python-modernize on common/djangoapps/track/tests
  common/djangoapps/track/tests/__init__.py
  common/djangoapps/track/tests/test_contexts.py
  common/djangoapps/track/tests/test_logs.py
  common/djangoapps/track/tests/test_middleware.py
  common/djangoapps/track/tests/test_segment.py
  common/djangoapps/track/tests/test_shim.py
  common/djangoapps/track/tests/test_tracker.py
  common/djangoapps/track/tests/test_util.py
Labels: open-source-contribution, waiting on author

#20434 INCR-208: run python-modernize and isort
  openedx/core/djangoapps/oauth_dispatch/adapters/dop.py
  openedx/core/djangoapps/oauth_dispatch/adapters/dot.py
  openedx/core/djangoapps/oauth_dispatch/dot_overrides/backends.py
  openedx/core/djangoapps/oauth_dispatch/dot_overrides/validators.py
  openedx/core/djangoapps/oauth_dispatch/dot_overrides/views.py
  openedx/core/djangoapps/oauth_dispatch/migrations/0001_initial.py
  openedx/core/djangoapps/oauth_dispatch/migrations/0002_scopedapplication_scopedapplicationorganization.py
  openedx/core/djangoapps/oauth_dispatch/migrations/0003_application_data.py
  openedx/core/djangoapps/oauth_dispatch/migrations/0004_auto_20180626_1349.py
  openedx/core/djangoapps/oauth_dispatch/migrations/0005_applicationaccess_type.py
  openedx/core/djangoapps/oauth_dispatch/migrations/0006_drop_application_id_constraints.py
  openedx/core/djangoapps/oauth_dispatch/migrations/0007_restore_application_id_constraints.py
Labels: open-source-contribution, waiting on author

#20425 INCR-125: Run python-modernize on common/djangoapps/track/views and migrations
  common/djangoapps/track/migrations/0001_initial.py
  common/djangoapps/track/views/__init__.py
  common/djangoapps/track/views/segmentio.py
  common/djangoapps/track/views/tests/base.py
  common/djangoapps/track/views/tests/test_segmentio.py
  common/djangoapps/track/views/tests/test_views.py
Labels: open-source-contribution, waiting on author

#20444 INCR-123: Run python-modernize on common/djangoapps/track/backends
  common/djangoapps/track/backends/__init__.py
  common/djangoapps/track/backends/tests/test_logger.py
  common/djangoapps/track/backends/tests/test_mongodb.py
Labels: open-source-contribution, waiting on author

#20419 Addresses INCR-195 - runs modernise /student/tests
  common/djangoapps/student/tests/factories.py
  common/djangoapps/student/tests/test_activate_account.py
  common/djangoapps/student/tests/test_admin_views.py
  common/djangoapps/student/tests/test_authz.py
  common/djangoapps/student/tests/test_bulk_email_settings.py
  common/djangoapps/student/tests/test_certificates.py
  common/djangoapps/student/tests/test_configuration_overrides.py
  common/djangoapps/student/tests/test_course_listing.py
  common/djangoapps/student/tests/test_credit.py
  common/djangoapps/student/tests/test_email.py
  common/djangoapps/student/tests/test_enrollment.py
  common/djangoapps/student/tests/test_events.py
  common/djangoapps/student/tests/test_helpers.py
  common/djangoapps/student/tests/test_linkedin.py
  common/djangoapps/student/tests/test_long_username_email.py
  common/djangoapps/student/tests/test_models.py
  common/djangoapps/student/tests/test_parental_controls.py
  common/djangoapps/student/tests/test_password_policy.py
  common/djangoapps/student/tests/test_recent_enrollments.py
  common/djangoapps/student/tests/test_refunds.py
  common/djangoapps/student/tests/test_reset_password.py
  common/djangoapps/student/tests/test_retirement.py
  common/djangoapps/student/tests/test_roles.py
  common/djangoapps/student/tests/test_tasks.py
  common/djangoapps/student/tests/test_user_profile_properties.py
  common/djangoapps/student/tests/test_userstanding.py
  common/djangoapps/student/tests/test_verification_status.py
  common/djangoapps/student/tests/test_views.py
  common/djangoapps/student/tests/tests.py
Labels: open-source-contribution, waiting on author

#20426 INCR-213 run modernizer on djangoapps migrations & management
  openedx/core/djangoapps/programs/management/commands/backpopulate_program_credentials.py
  openedx/core/djangoapps/programs/migrations/0001_initial.py
  openedx/core/djangoapps/programs/migrations/0002_programsapiconfig_cache_ttl.py
  openedx/core/djangoapps/programs/migrations/0003_auto_20151120_1613.py
  openedx/core/djangoapps/programs/migrations/0004_programsapiconfig_enable_certification.py
  openedx/core/djangoapps/programs/migrations/0005_programsapiconfig_max_retries.py
  openedx/core/djangoapps/programs/migrations/0006_programsapiconfig_xseries_ad_enabled.py
  openedx/core/djangoapps/programs/migrations/0007_programsapiconfig_program_listing_enabled.py
  openedx/core/djangoapps/programs/migrations/0008_programsapiconfig_program_details_enabled.py
  openedx/core/djangoapps/programs/migrations/0009_programsapiconfig_marketing_path.py
  openedx/core/djangoapps/programs/migrations/0010_auto_20170204_2332.py
  openedx/core/djangoapps/programs/migrations/0011_auto_20170301_1844.py
  openedx/core/djangoapps/programs/migrations/0012_auto_20170419_0018.py
Labels: open-source-contribution, waiting on author

#20443 INCR-143: Run python-modernize on openedx/core/djangoapps/content/course_overviews
  openedx/core/djangoapps/content/course_overviews/admin.py
  openedx/core/djangoapps/content/course_overviews/apps.py
  openedx/core/djangoapps/content/course_overviews/management/commands/generate_course_overview.py
  openedx/core/djangoapps/content/course_overviews/management/commands/simulate_publish.py
  openedx/core/djangoapps/content/course_overviews/management/commands/tests/test_generate_course_overview.py
  openedx/core/djangoapps/content/course_overviews/management/commands/tests/test_simulate_publish.py
  openedx/core/djangoapps/content/course_overviews/models.py
  openedx/core/djangoapps/content/course_overviews/signals.py
  openedx/core/djangoapps/content/course_overviews/tasks.py
  openedx/core/djangoapps/content/course_overviews/tests/factories.py
  openedx/core/djangoapps/content/course_overviews/tests/test_course_overviews.py
  openedx/core/djangoapps/content/course_overviews/tests/test_signals.py
  openedx/core/djangoapps/content/course_overviews/tests/test_tasks.py
Labels: open-source-contribution, waiting on author

#20415 INCR-219: Run modernizer
  openedx/core/djangoapps/safe_sessions/middleware.py
  openedx/core/djangoapps/safe_sessions/testing.py
  openedx/core/djangoapps/safe_sessions/tests/test_middleware.py
  openedx/core/djangoapps/safe_sessions/tests/test_safe_cookie_data.py
  openedx/core/djangoapps/safe_sessions/tests/test_utils.py
Labels: open-source-contribution, waiting on author

#20424 INCR-214: python-modernize on common/lib/xmodule/xmodule/modulestore/tests
  common/lib/xmodule/xmodule/modulestore/tests/django_utils.py
  common/lib/xmodule/xmodule/modulestore/tests/factories.py
  common/lib/xmodule/xmodule/modulestore/tests/mongo_connection.py
  common/lib/xmodule/xmodule/modulestore/tests/sample_courses.py
  common/lib/xmodule/xmodule/modulestore/tests/test_abstraction.py
  common/lib/xmodule/xmodule/modulestore/tests/test_asides.py
  common/lib/xmodule/xmodule/modulestore/tests/test_assetstore.py
  common/lib/xmodule/xmodule/modulestore/tests/test_contentstore.py
  common/lib/xmodule/xmodule/modulestore/tests/test_cross_modulestore_import_export.py
  common/lib/xmodule/xmodule/modulestore/tests/test_libraries.py
  common/lib/xmodule/xmodule/modulestore/tests/test_mixed_modulestore.py
  common/lib/xmodule/xmodule/modulestore/tests/test_modulestore_settings.py
  common/lib/xmodule/xmodule/modulestore/tests/test_mongo.py
  common/lib/xmodule/xmodule/modulestore/tests/test_mongo_call_count.py
  common/lib/xmodule/xmodule/modulestore/tests/test_publish.py
  common/lib/xmodule/xmodule/modulestore/tests/test_semantics.py
  common/lib/xmodule/xmodule/modulestore/tests/test_split_copy_from_template.py
  common/lib/xmodule/xmodule/modulestore/tests/test_split_migrator.py
  common/lib/xmodule/xmodule/modulestore/tests/test_split_modulestore.py
  common/lib/xmodule/xmodule/modulestore/tests/test_split_modulestore_bulk_operations.py
  common/lib/xmodule/xmodule/modulestore/tests/test_split_mongo_mongo_connection.py
  common/lib/xmodule/xmodule/modulestore/tests/test_split_w_old_mongo.py
  common/lib/xmodule/xmodule/modulestore/tests/test_store_utilities.py
  common/lib/xmodule/xmodule/modulestore/tests/test_xml.py
  common/lib/xmodule/xmodule/modulestore/tests/test_xml_importer.py
  common/lib/xmodule/xmodule/modulestore/tests/utils.py
Labels: awaiting prioritization, open-source-contribution

#20464 INCR-206 ran modernize and isort on files
  openedx/core/djangoapps/header_control/decorators.py
  openedx/core/djangoapps/header_control/middleware.py
  openedx/core/djangoapps/header_control/tests/test_decorators.py
  openedx/core/djangoapps/header_control/tests/test_middleware.py
  openedx/core/djangoapps/session_inactivity_timeout/middleware.py
Labels: awaiting prioritization, open-source-contribution

#20465 incr-205 ran modernize on common/djangoapps/course_modes
  common/djangoapps/course_modes/api/v1/tests/test_views.py
  common/djangoapps/course_modes/api/v1/urls.py
  common/djangoapps/course_modes/api/v1/views.py
  common/djangoapps/course_modes/tests/test_signals.py
Labels: open-source-contribution, waiting on author

#20430 INCR-207 ran python-modernize and isort as described in the case.
  openedx/core/djangoapps/oauth_dispatch/management/commands/create_dot_application.py
  openedx/core/djangoapps/oauth_dispatch/management/commands/edx_clear_expired_tokens.py
  openedx/core/djangoapps/oauth_dispatch/management/commands/generate_jwt_signing_key.py
  openedx/core/djangoapps/oauth_dispatch/management/commands/tests/test_clear_expired_tokens.py
  openedx/core/djangoapps/oauth_dispatch/management/commands/tests/test_create_dot_application.py
  openedx/core/djangoapps/oauth_dispatch/management/commands/tests/test_generate_jwt_signing_key.py
Labels: open-source-contribution, waiting on author

#20467 update link for xss-commit-linker
  scripts/xss-commit-linter.sh
Labels: open-source-contribution, waiting on author

#20436 INCR-209 move python 2 to 3 djangoapps user_api accounts
  openedx/core/djangoapps/user_api/accounts/__init__.py
  openedx/core/djangoapps/user_api/accounts/api.py
  openedx/core/djangoapps/user_api/accounts/forms.py
  openedx/core/djangoapps/user_api/accounts/image_helpers.py
  openedx/core/djangoapps/user_api/accounts/permissions.py
  openedx/core/djangoapps/user_api/accounts/serializers.py
  openedx/core/djangoapps/user_api/accounts/settings_views.py
  openedx/core/djangoapps/user_api/accounts/signals.py
  openedx/core/djangoapps/user_api/accounts/tests/retirement_helpers.py
  openedx/core/djangoapps/user_api/accounts/tests/test_api.py
  openedx/core/djangoapps/user_api/accounts/tests/test_image_helpers.py
  openedx/core/djangoapps/user_api/accounts/tests/test_models.py
  openedx/core/djangoapps/user_api/accounts/tests/test_permissions.py
  openedx/core/djangoapps/user_api/accounts/tests/test_retirement_views.py
  openedx/core/djangoapps/user_api/accounts/tests/test_serializers.py
  openedx/core/djangoapps/user_api/accounts/tests/test_settings_views.py
  openedx/core/djangoapps/user_api/accounts/tests/test_utils.py
  openedx/core/djangoapps/user_api/accounts/tests/test_views.py
  openedx/core/djangoapps/user_api/accounts/tests/testutils.py
  openedx/core/djangoapps/user_api/accounts/toggles.py
  openedx/core/djangoapps/user_api/accounts/utils.py
  openedx/core/djangoapps/user_api/accounts/views.py
Labels: open-source-contribution, waiting on author

#20454 incr-177 run python-modernize on openedx/features/learner_profile
  common/lib/symmath/setup.py
  common/lib/symmath/symmath/formula.py
  common/lib/symmath/symmath/symmath_check.py
  common/lib/symmath/symmath/test_formula.py
  common/lib/symmath/symmath/test_symmath_check.py
  openedx/features/learner_profile/tests/views/test_learner_profile.py
  openedx/features/learner_profile/toggles.py
  openedx/features/learner_profile/urls.py
  openedx/features/learner_profile/views/learner_achievements.py
  openedx/features/learner_profile/views/learner_profile.py
Labels: community manager review, open-source-contribution

#20420 INCR-222: Run python-modernize on common/test/acceptance/tests/lms
  common/test/acceptance/tests/lms/test_account_settings.py
  common/test/acceptance/tests/lms/test_bookmarks.py
  common/test/acceptance/tests/lms/test_ccx.py
  common/test/acceptance/tests/lms/test_certificate_web_view.py
  common/test/acceptance/tests/lms/test_conditional.py
  common/test/acceptance/tests/lms/test_learner_profile.py
  common/test/acceptance/tests/lms/test_library.py
  common/test/acceptance/tests/lms/test_lms.py
  common/test/acceptance/tests/lms/test_lms_acid_xblock.py
  common/test/acceptance/tests/lms/test_lms_cohorted_courseware_search.py
  common/test/acceptance/tests/lms/test_lms_course_discovery.py
  common/test/acceptance/tests/lms/test_lms_course_home.py
  common/test/acceptance/tests/lms/test_lms_courseware.py
  common/test/acceptance/tests/lms/test_lms_courseware_search.py
  common/test/acceptance/tests/lms/test_lms_dashboard.py
  common/test/acceptance/tests/lms/test_lms_dashboard_search.py
  common/test/acceptance/tests/lms/test_lms_edxnotes.py
  common/test/acceptance/tests/lms/test_lms_entrance_exams.py
  common/test/acceptance/tests/lms/test_lms_gating.py
  common/test/acceptance/tests/lms/test_lms_help.py
  common/test/acceptance/tests/lms/test_lms_index.py
  common/test/acceptance/tests/lms/test_lms_instructor_dashboard.py
  common/test/acceptance/tests/lms/test_lms_lti.py
  common/test/acceptance/tests/lms/test_lms_problems.py
  common/test/acceptance/tests/lms/test_lms_split_test_courseware_search.py
  common/test/acceptance/tests/lms/test_lms_user_preview.py
  common/test/acceptance/tests/lms/test_oauth2.py
  common/test/acceptance/tests/lms/test_problem_types.py
  common/test/acceptance/tests/lms/test_programs.py
  common/test/acceptance/tests/lms/test_progress_page.py
  common/test/acceptance/tests/lms/test_teams.py
  common/test/acceptance/tests/lms/test_unicode_username_admin.py
Labels: open-source-contribution, waiting on author

#20475 Python2 > Python3
  openedx/features/announcements/apps.py
  openedx/features/announcements/forms.py
  openedx/features/announcements/migrations/0001_initial.py
  openedx/features/announcements/models.py
  openedx/features/announcements/tests/test_announcements.py
  openedx/features/announcements/urls.py
  openedx/features/announcements/views.py
Labels: needs triage, open-source-contribution

#20481 INCR-137
  common/djangoapps/static_replace/__init__.py
  common/djangoapps/static_replace/admin.py
  common/djangoapps/static_replace/management/commands/clear_collectstatic_cache.py
  common/djangoapps/static_replace/migrations/0001_initial.py
  common/djangoapps/static_replace/migrations/0002_assetexcludedextensionsconfig.py
  common/djangoapps/static_replace/models.py
  common/djangoapps/static_replace/test/test_static_replace.py
Labels: needs triage, open-source-contribution

#20482 INCR-136
  common/djangoapps/pipeline_mako/__init__.py
  common/djangoapps/pipeline_mako/helpers/studiofrontend.py
  common/djangoapps/pipeline_mako/tests/test_render.py
  common/djangoapps/pipeline_mako/tests/test_static_content.py
Labels: needs triage, open-source-contribution

#20483 INCR-135
  common/djangoapps/edxmako/apps.py
  common/djangoapps/edxmako/makoloader.py
  common/djangoapps/edxmako/paths.py
  common/djangoapps/edxmako/request_context.py
  common/djangoapps/edxmako/shortcuts.py
  common/djangoapps/edxmako/template.py
  common/djangoapps/edxmako/tests.py
Labels: needs triage, open-source-contribution

#20484 INCR-134
  openedx/core/djangoapps/django_comment_common/migrations/0001_initial.py
  openedx/core/djangoapps/django_comment_common/migrations/0002_forumsconfig.py
  openedx/core/djangoapps/django_comment_common/migrations/0003_enable_forums.py
  openedx/core/djangoapps/django_comment_common/migrations/0004_auto_20161117_1209.py
  openedx/core/djangoapps/django_comment_common/migrations/0005_coursediscussionsettings.py
  openedx/core/djangoapps/django_comment_common/migrations/0006_coursediscussionsettings_discussions_id_map.py
  openedx/core/djangoapps/django_comment_common/migrations/0007_discussionsidmapping.py
  openedx/core/djangoapps/django_comment_common/migrations/0008_role_user_index.py
Labels: needs triage, open-source-contribution

#20487 INCR-152 [Python2 to Python3]
  openedx/core/djangoapps/crawlers/admin.py
  openedx/core/djangoapps/crawlers/migrations/0001_initial.py
  openedx/core/djangoapps/crawlers/migrations/0002_auto_20170419_0018.py
  openedx/core/djangoapps/crawlers/models.py
  openedx/core/djangoapps/crawlers/tests/test_models.py
Labels: needs triage, open-source-contribution

#20485 INCR-154
  openedx/core/djangoapps/dark_lang/admin.py
  openedx/core/djangoapps/dark_lang/middleware.py
  openedx/core/djangoapps/dark_lang/migrations/0001_initial.py
  openedx/core/djangoapps/dark_lang/migrations/0002_data__enable_on_install.py
  openedx/core/djangoapps/dark_lang/migrations/0003_auto_20180425_0359.py
  openedx/core/djangoapps/dark_lang/models.py
  openedx/core/djangoapps/dark_lang/tests.py
  openedx/core/djangoapps/dark_lang/urls.py
  openedx/core/djangoapps/dark_lang/views.py
Labels: needs triage, open-source-contribution

#20469 INCR-163 python-modernize on openedx/core/djangoapps/waffle_utils
  openedx/core/djangoapps/waffle_utils/__init__.py
  openedx/core/djangoapps/waffle_utils/admin.py
  openedx/core/djangoapps/waffle_utils/forms.py
  openedx/core/djangoapps/waffle_utils/migrations/0001_initial.py
  openedx/core/djangoapps/waffle_utils/models.py
  openedx/core/djangoapps/waffle_utils/tests/test_init.py
  openedx/core/djangoapps/waffle_utils/tests/test_models.py
  openedx/core/djangoapps/waffle_utils/tests/test_testutils.py
  openedx/core/djangoapps/waffle_utils/testutils.py
Labels: awaiting prioritization, open-source-contribution

#20472 INCR-161 Run python-modernize on openedx/core/djangoapps/video_pipeline
  openedx/core/djangoapps/video_pipeline/admin.py
  openedx/core/djangoapps/video_pipeline/api.py
  openedx/core/djangoapps/video_pipeline/config/waffle.py
  openedx/core/djangoapps/video_pipeline/forms.py
  openedx/core/djangoapps/video_pipeline/management/commands/create_video_pipeline_integration.py
  openedx/core/djangoapps/video_pipeline/management/commands/tests/test_create_video_pipeline_integration.py
  openedx/core/djangoapps/video_pipeline/migrations/0001_initial.py
  openedx/core/djangoapps/video_pipeline/migrations/0002_auto_20171114_0704.py
  openedx/core/djangoapps/video_pipeline/migrations/0003_coursevideouploadsenabledbydefault_videouploadsenabledbydefault.py
  openedx/core/djangoapps/video_pipeline/models.py
  openedx/core/djangoapps/video_pipeline/tests/mixins.py
  openedx/core/djangoapps/video_pipeline/tests/test_api.py
  openedx/core/djangoapps/video_pipeline/tests/test_models.py
  openedx/core/djangoapps/video_pipeline/utils.py
Labels: open-source-contribution, waiting on author

#20488 INCR-146 [Python2 > Python3]
  openedx/core/djangoapps/cors_csrf/admin.py
  openedx/core/djangoapps/cors_csrf/authentication.py
  openedx/core/djangoapps/cors_csrf/decorators.py
  openedx/core/djangoapps/cors_csrf/helpers.py
  openedx/core/djangoapps/cors_csrf/middleware.py
  openedx/core/djangoapps/cors_csrf/migrations/0001_initial.py
  openedx/core/djangoapps/cors_csrf/models.py
  openedx/core/djangoapps/cors_csrf/tests/test_authentication.py
  openedx/core/djangoapps/cors_csrf/tests/test_decorators.py
  openedx/core/djangoapps/cors_csrf/tests/test_middleware.py
  openedx/core/djangoapps/cors_csrf/tests/test_views.py
  openedx/core/djangoapps/cors_csrf/views.py
Labels: awaiting prioritization, open-source-contribution

#20470 incr-178: ran modernize on openedx/features/content_type_gating
  openedx/features/content_type_gating/admin.py
  openedx/features/content_type_gating/apps.py
  openedx/features/content_type_gating/block_transformers.py
  openedx/features/content_type_gating/field_override.py
  openedx/features/content_type_gating/helpers.py
  openedx/features/content_type_gating/migrations/0001_initial.py
  openedx/features/content_type_gating/migrations/0002_auto_20181119_0959.py
  openedx/features/content_type_gating/migrations/0003_auto_20181128_1407.py
  openedx/features/content_type_gating/migrations/0004_auto_20181128_1521.py
  openedx/features/content_type_gating/migrations/0005_auto_20190306_1547.py
  openedx/features/content_type_gating/migrations/0006_auto_20190308_1447.py
  openedx/features/content_type_gating/migrations/0007_auto_20190311_1919.py
  openedx/features/content_type_gating/migrations/0008_auto_20190313_1634.py
  openedx/features/content_type_gating/models.py
  openedx/features/content_type_gating/partitions.py
  openedx/features/content_type_gating/tests/test_access.py
  openedx/features/content_type_gating/tests/test_models.py
  openedx/features/content_type_gating/tests/test_partitions.py
Labels: needs triage, open-source-contribution

#20474 INCR-159 Run python-modernize on openedx/core/djangoapps/zendesk_proxy
  openedx/core/djangoapps/zendesk_proxy/apps.py
  openedx/core/djangoapps/zendesk_proxy/tests/test_utils.py
  openedx/core/djangoapps/zendesk_proxy/tests/test_v0_views.py
  openedx/core/djangoapps/zendesk_proxy/tests/test_v1_views.py
  openedx/core/djangoapps/zendesk_proxy/urls.py
  openedx/core/djangoapps/zendesk_proxy/utils.py
  openedx/core/djangoapps/zendesk_proxy/v0/views.py
  openedx/core/djangoapps/zendesk_proxy/v1/views.py
Labels: awaiting prioritization, open-source-contribution

#20473 INCR-166 Run python-modernize on openedx/core/djangolib
  openedx/core/djangolib/fields.py
  openedx/core/djangolib/js_utils.py
  openedx/core/djangolib/markup.py
  openedx/core/djangolib/oauth2_retirement_utils.py
  openedx/core/djangolib/testing/tests/test_utils.py
  openedx/core/djangolib/testing/utils.py
  openedx/core/djangolib/tests/test_js_utils.py
  openedx/core/djangolib/tests/test_markup.py
  openedx/core/djangolib/tests/test_oauth2_retirement_utils.py
  openedx/core/djangolib/tests/test_translation_utils.py
  openedx/core/djangolib/translation_utils.py
Labels: needs triage, open-source-contribution

#20490 INCR-160
  openedx/core/djangoapps/verified_track_content/admin.py
  openedx/core/djangoapps/verified_track_content/forms.py
  openedx/core/djangoapps/verified_track_content/management/commands/swap_from_auto_track_cohort_pilot.py
  openedx/core/djangoapps/verified_track_content/migrations/0001_initial.py
  openedx/core/djangoapps/verified_track_content/migrations/0002_verifiedtrackcohortedcourse_verified_cohort_name.py
  openedx/core/djangoapps/verified_track_content/migrations/0003_migrateverifiedtrackcohortssetting.py
  openedx/core/djangoapps/verified_track_content/models.py
  openedx/core/djangoapps/verified_track_content/partition_scheme.py
  openedx/core/djangoapps/verified_track_content/tasks.py
  openedx/core/djangoapps/verified_track_content/tests/test_forms.py
  openedx/core/djangoapps/verified_track_content/tests/test_models.py
  openedx/core/djangoapps/verified_track_content/tests/test_partition_scheme.py
  openedx/core/djangoapps/verified_track_content/tests/test_views.py
  openedx/core/djangoapps/verified_track_content/views.py
Labels: awaiting prioritization, open-source-contribution

#20486 INCR-145
  openedx/core/djangoapps/contentserver/admin.py
  openedx/core/djangoapps/contentserver/caching.py
  openedx/core/djangoapps/contentserver/middleware.py
  openedx/core/djangoapps/contentserver/migrations/0001_initial.py
  openedx/core/djangoapps/contentserver/migrations/0002_cdnuseragentsconfig.py
  openedx/core/djangoapps/contentserver/models.py
  openedx/core/djangoapps/contentserver/test/test_contentserver.py
Labels: open-source-contribution, waiting on author

#20507 INCR-164
  common/djangoapps/microsite_configuration/backends/base.py
  common/djangoapps/microsite_configuration/backends/database.py
  common/djangoapps/microsite_configuration/backends/filebased.py
  common/djangoapps/microsite_configuration/management/commands/delete_historical_microsite_data.py
  common/djangoapps/microsite_configuration/migrations/0001_initial.py
  common/djangoapps/microsite_configuration/migrations/0002_auto_20160202_0228.py
  common/djangoapps/microsite_configuration/migrations/0003_delete_historical_records.py
Labels: open-source-contribution, waiting on author

#20504 INCR-116
  openedx/core/djangoapps/cache_toolbox/app_settings.py
  openedx/core/djangoapps/cache_toolbox/core.py
  openedx/core/djangoapps/cache_toolbox/middleware.py
  openedx/core/djangoapps/cache_toolbox/model.py
  openedx/core/djangoapps/cache_toolbox/templatetags/cache_toolbox.py
  openedx/core/djangoapps/cache_toolbox/tests/test_middleware.py
Labels: awaiting prioritization, open-source-contribution

#20508 INCR-170 [Python2 > Python3]
  common/lib/safe_lxml/safe_lxml/__init__.py
  common/lib/safe_lxml/safe_lxml/etree.py
  common/lib/safe_lxml/safe_lxml/tests.py
  common/lib/safe_lxml/setup.py
  common/lib/sandbox-packages/eia.py
  common/lib/sandbox-packages/loncapa/loncapa_check.py
  common/lib/sandbox-packages/setup.py
  common/lib/sandbox-packages/verifiers/draganddrop.py
  common/lib/sandbox-packages/verifiers/tests_draganddrop.py
Labels: open-source-contribution, waiting on author

#20521 INCR-139
  common/djangoapps/third_party_auth/tests/data/saml_identity_provider_mock_data.py
  common/djangoapps/third_party_auth/tests/specs/base.py
  common/djangoapps/third_party_auth/tests/specs/test_azuread.py
  common/djangoapps/third_party_auth/tests/specs/test_generic.py
  common/djangoapps/third_party_auth/tests/specs/test_google.py
  common/djangoapps/third_party_auth/tests/specs/test_linkedin.py
  common/djangoapps/third_party_auth/tests/specs/test_lti.py
  common/djangoapps/third_party_auth/tests/specs/test_testshib.py
  common/djangoapps/third_party_auth/tests/specs/test_twitter.py
Labels: open-source-contribution, waiting on author

#20520 INCR-133
  common/djangoapps/xblock_django/management/commands/ensure_indexes.py
  common/djangoapps/xblock_django/migrations/0001_initial.py
  common/djangoapps/xblock_django/migrations/0002_auto_20160204_0809.py
  common/djangoapps/xblock_django/migrations/0003_add_new_config_models.py
  common/djangoapps/xblock_django/migrations/0004_delete_xblock_disable_config.py
  common/djangoapps/xblock_django/tests/test_api.py
  common/djangoapps/xblock_django/tests/test_user_service.py
Labels: open-source-contribution, waiting on author

#20519 INCR-141
  openedx/core/djangoapps/content/block_structure/config/__init__.py
  openedx/core/djangoapps/content/block_structure/config/models.py
  openedx/core/djangoapps/content/block_structure/management/commands/generate_course_blocks.py
  openedx/core/djangoapps/content/block_structure/management/commands/tests/test_generate_course_blocks.py
  openedx/core/djangoapps/content/block_structure/migrations/0001_config.py
  openedx/core/djangoapps/content/block_structure/migrations/0002_blockstructuremodel.py
  openedx/core/djangoapps/content/block_structure/migrations/0003_blockstructuremodel_storage.py
  openedx/core/djangoapps/content/block_structure/migrations/0004_blockstructuremodel_usagekeywithrun.py
Labels: open-source-contribution, waiting on author

#20517 INCR-144
  common/djangoapps/microsite_configuration/tests/backends/test_base.py
  common/djangoapps/microsite_configuration/tests/backends/test_database.py
  common/djangoapps/microsite_configuration/tests/backends/test_filebased.py
  common/djangoapps/microsite_configuration/tests/factories.py
  common/djangoapps/microsite_configuration/tests/test_admin.py
  common/djangoapps/microsite_configuration/tests/test_logic.py
  common/djangoapps/microsite_configuration/tests/test_microsites.py
  common/djangoapps/microsite_configuration/tests/tests.py
Labels: open-source-contribution, waiting on author

#20518 INCR-158
  openedx/core/djangoapps/site_configuration/admin.py
  openedx/core/djangoapps/site_configuration/context_processors.py
  openedx/core/djangoapps/site_configuration/helpers.py
  openedx/core/djangoapps/site_configuration/middleware.py
  openedx/core/djangoapps/site_configuration/migrations/0001_initial.py
  openedx/core/djangoapps/site_configuration/migrations/0002_auto_20160720_0231.py
  openedx/core/djangoapps/site_configuration/models.py
  openedx/core/djangoapps/site_configuration/templatetags/configuration.py
  openedx/core/djangoapps/site_configuration/tests/factories.py
  openedx/core/djangoapps/site_configuration/tests/mixins.py
  openedx/core/djangoapps/site_configuration/tests/test_context_processors.py
  openedx/core/djangoapps/site_configuration/tests/test_helpers.py
  openedx/core/djangoapps/site_configuration/tests/test_middleware.py
  openedx/core/djangoapps/site_configuration/tests/test_models.py
  openedx/core/djangoapps/site_configuration/tests/test_util.py
Labels: open-source-contribution, waiting on author

#20514 INCR-235
  openedx/core/djangoapps/user_authn/migrations/0001_data__add_login_service.py
  openedx/core/djangoapps/user_authn/tests/test_cookies.py
  openedx/core/djangoapps/user_authn/tests/test_exceptions.py
  openedx/core/djangoapps/user_authn/tests/test_utils.py
  openedx/core/djangoapps/user_authn/tests/utils.py
Labels: open-source-contribution, waiting on author

#20516 INCR-149
  openedx/core/djangoapps/coursegraph/apps.py
  openedx/core/djangoapps/coursegraph/management/commands/dump_to_neo4j.py
  openedx/core/djangoapps/coursegraph/management/commands/tests/test_dump_to_neo4j.py
  openedx/core/djangoapps/coursegraph/management/commands/tests/utils.py
  openedx/core/djangoapps/coursegraph/tasks.py
  openedx/core/djangoapps/self_paced/admin.py
  openedx/core/djangoapps/self_paced/migrations/0001_initial.py
  openedx/core/djangoapps/self_paced/models.py
Labels: open-source-contribution, waiting on author

#20515 INCR-231
  common/djangoapps/entitlements/admin.py
  common/djangoapps/entitlements/apps.py
  common/djangoapps/entitlements/models.py
  common/djangoapps/entitlements/signals.py
  common/djangoapps/entitlements/tasks.py
  common/djangoapps/entitlements/utils.py
Labels: open-source-contribution, waiting on author

#20509 INCR-240
  openedx/core/djangoapps/util/apps.py
  openedx/core/djangoapps/util/forms.py
  openedx/core/djangoapps/util/log_utils.py
  openedx/core/djangoapps/util/ratelimit.py
  openedx/core/djangoapps/util/row_delete.py
  openedx/core/djangoapps/util/signals.py
  openedx/core/djangoapps/util/testing.py
  openedx/core/djangoapps/util/user_messages.py
  openedx/core/djangoapps/util/user_utils.py
Labels: open-source-contribution, waiting on author

#20513 INCR-232
  common/djangoapps/track/admin.py
  common/djangoapps/track/contexts.py
  common/djangoapps/track/event_transaction_utils.py
  common/djangoapps/track/middleware.py
  common/djangoapps/track/models.py
  common/djangoapps/track/segment.py
  common/djangoapps/track/shim.py
  common/djangoapps/track/tracker.py
  common/djangoapps/track/transformers.py
  common/djangoapps/track/urls.py
  common/djangoapps/track/utils.py
Labels: open-source-contribution, waiting on author

#20432 INCR-211: run python-modernize and isort
  openedx/core/djangoapps/user_authn/views/auto_auth.py
  openedx/core/djangoapps/user_authn/views/deprecated.py
  openedx/core/djangoapps/user_authn/views/login.py
  openedx/core/djangoapps/user_authn/views/login_form.py
  openedx/core/djangoapps/user_authn/views/logout.py
  openedx/core/djangoapps/user_authn/views/register.py
  openedx/core/djangoapps/user_authn/views/tests/test_auto_auth.py
  openedx/core/djangoapps/user_authn/views/tests/test_login.py
  openedx/core/djangoapps/user_authn/views/tests/test_login_registration_forms.py
  openedx/core/djangoapps/user_authn/views/tests/test_logout.py
  openedx/core/djangoapps/user_authn/views/tests/test_register.py
  openedx/core/djangoapps/user_authn/views/tests/test_views.py
Labels: open-source-contribution, waiting on author

#20510 INCR-239
  openedx/core/djangoapps/programs/tasks/v1/tasks.py
  openedx/core/djangoapps/programs/tasks/v1/tests/test_tasks.py
  openedx/core/djangoapps/programs/tests/factories.py
  openedx/core/djangoapps/programs/tests/mixins.py
  openedx/core/djangoapps/programs/tests/test_backpopulate_program_credentials.py
  openedx/core/djangoapps/programs/tests/test_signals.py
  openedx/core/djangoapps/programs/tests/test_utils.py
Labels: open-source-contribution, waiting on author

#20511 INCR-234
  openedx/core/djangoapps/oauth_dispatch/adapters/dop.py
  openedx/core/djangoapps/oauth_dispatch/adapters/dot.py
  openedx/core/djangoapps/oauth_dispatch/admin.py
  openedx/core/djangoapps/oauth_dispatch/api.py
  openedx/core/djangoapps/oauth_dispatch/dot_overrides/backends.py
  openedx/core/djangoapps/oauth_dispatch/dot_overrides/validators.py
  openedx/core/djangoapps/oauth_dispatch/dot_overrides/views.py
  openedx/core/djangoapps/oauth_dispatch/jwt.py
  openedx/core/djangoapps/oauth_dispatch/management/commands/edx_clear_expired_tokens.py
  openedx/core/djangoapps/oauth_dispatch/management/commands/tests/test_clear_expired_tokens.py
  openedx/core/djangoapps/oauth_dispatch/models.py
  openedx/core/djangoapps/oauth_dispatch/scopes.py
  openedx/core/djangoapps/oauth_dispatch/toggles.py
  openedx/core/djangoapps/oauth_dispatch/urls.py
  openedx/core/djangoapps/oauth_dispatch/views.py
Labels: open-source-contribution, waiting on author

#20532 INCR-243: Make compatible with Python 3.x without breaking Python 2.7…
  openedx/core/djangoapps/debug/views.py
  openedx/core/djangoapps/models/course_details.py
  openedx/core/djangoapps/models/tests/test_course_details.py
Labels: needs triage, open-source-contribution

#20528 INCR-249: Make compatible with Python 3.x without breaking Python 2.7 support
  openedx/core/djangoapps/content/block_structure/admin.py
  openedx/core/djangoapps/content/block_structure/api.py
  openedx/core/djangoapps/content/block_structure/apps.py
  openedx/core/djangoapps/content/block_structure/block_structure.py
  openedx/core/djangoapps/content/block_structure/config/__init__.py
  openedx/core/djangoapps/content/block_structure/config/models.py
  openedx/core/djangoapps/content/block_structure/factory.py
  openedx/core/djangoapps/content/block_structure/management/commands/generate_course_blocks.py
  openedx/core/djangoapps/content/block_structure/management/commands/tests/test_generate_course_blocks.py
  openedx/core/djangoapps/content/block_structure/manager.py
  openedx/core/djangoapps/content/block_structure/models.py
  openedx/core/djangoapps/content/block_structure/signals.py
  openedx/core/djangoapps/content/block_structure/store.py
  openedx/core/djangoapps/content/block_structure/tasks.py
  openedx/core/djangoapps/content/block_structure/transformer.py
  openedx/core/djangoapps/content/block_structure/transformer_registry.py
  openedx/core/djangoapps/content/block_structure/transformers.py
Labels: open-source-contribution, waiting on author

#20450 INCR-132: Run python-modernize on common/djangoapps/status
  common/djangoapps/status/migrations/0001_initial.py
  common/djangoapps/status/migrations/0002_update_help_text.py
  common/djangoapps/status/models.py
  common/djangoapps/status/status.py
  common/djangoapps/status/tests.py
Labels: awaiting prioritization, open-source-contribution

#20531 INCR-244: Make compatible with Python 3.x without breaking Python 2.7…
  common/test/acceptance/pages/common/__init__.py
  common/test/acceptance/pages/common/auto_auth.py
  common/test/acceptance/pages/common/logout.py
  common/test/acceptance/pages/common/paging.py
  common/test/acceptance/pages/common/utils.py
  common/test/acceptance/pages/xblock/acid.py
  common/test/acceptance/pages/xblock/crowdsourcehinter_problem.py
  common/test/acceptance/pages/xblock/utils.py
Labels: awaiting prioritization, open-source-contribution

#20506 INCR-230 - Run python-modernize and isort on common/lib/xmodule/xmodule
  common/lib/xmodule/xmodule/hidden_module.py
  common/lib/xmodule/xmodule/html_checker.py
  common/lib/xmodule/xmodule/html_module.py
  common/lib/xmodule/xmodule/library_content_module.py
  common/lib/xmodule/xmodule/library_root_xblock.py
  common/lib/xmodule/xmodule/library_tools.py
  common/lib/xmodule/xmodule/lti_2_util.py
  common/lib/xmodule/xmodule/lti_module.py
  common/lib/xmodule/xmodule/mako_module.py
  common/lib/xmodule/xmodule/mongo_utils.py
  common/lib/xmodule/xmodule/poll_module.py
  common/lib/xmodule/xmodule/progress.py
  common/lib/xmodule/xmodule/randomize_module.py
  common/lib/xmodule/xmodule/raw_module.py
  common/lib/xmodule/xmodule/seq_module.py
  common/lib/xmodule/xmodule/services.py
  common/lib/xmodule/xmodule/split_test_module.py
  common/lib/xmodule/xmodule/static_content.py
  common/lib/xmodule/xmodule/stringify.py
  common/lib/xmodule/xmodule/studio_editable.py
  common/lib/xmodule/xmodule/tabs.py
  common/lib/xmodule/xmodule/template_module.py
  common/lib/xmodule/xmodule/templates.py
  common/lib/xmodule/xmodule/timeinfo.py
  common/lib/xmodule/xmodule/validation.py
  common/lib/xmodule/xmodule/vertical_block.py
  common/lib/xmodule/xmodule/word_cloud_module.py
  common/lib/xmodule/xmodule/wrapper_module.py
  common/lib/xmodule/xmodule/x_module.py
  common/lib/xmodule/xmodule/xml_module.py
Labels: open-source-contribution, waiting on author

#20654 SE-1076 Campus.il Fixes issue encountered when cms worker updates grades
  cms/envs/common.py
Labels: needs triage, open-source-contribution

#20502 INCR-236
  openedx/features/course_duration_limits/access.py
  openedx/features/course_duration_limits/admin.py
  openedx/features/course_duration_limits/apps.py
  openedx/features/course_duration_limits/config.py
  openedx/features/course_duration_limits/message_types.py
  openedx/features/course_duration_limits/models.py
  openedx/features/course_duration_limits/resolvers.py
  openedx/features/course_duration_limits/tasks.py
  openedx/features/course_duration_limits/tests/test_models.py
Labels: needs triage, open-source-contribution

#20435 Modernize INCR-210 user_api/management
  openedx/core/djangoapps/user_api/management/commands/bulk_user_org_email_optout.py
  openedx/core/djangoapps/user_api/management/commands/cancel_user_retirement_request.py
  openedx/core/djangoapps/user_api/management/commands/create_user_gdpr_testing.py
  openedx/core/djangoapps/user_api/management/commands/email_opt_in_list.py
  openedx/core/djangoapps/user_api/management/commands/migrate_user_profile_langs.py
  openedx/core/djangoapps/user_api/management/commands/populate_retirement_states.py
  openedx/core/djangoapps/user_api/management/commands/sync_hubspot_contacts.py
  openedx/core/djangoapps/user_api/management/tests/test_bulk_user_org_email_optout.py
  openedx/core/djangoapps/user_api/management/tests/test_cancel_retirement.py
  openedx/core/djangoapps/user_api/management/tests/test_email_opt_in_list.py
  openedx/core/djangoapps/user_api/management/tests/test_populate_retirement_states.py
  openedx/core/djangoapps/user_api/management/tests/test_sync_hubspot_contacts.py
Labels: needs triage, open-source-contribution

#20646 INCR-251: Make compatible with Python 3.x without breaking Python 2.7…
  common/test/acceptance/tests/discussion/helpers.py
  common/test/acceptance/tests/discussion/test_cohort_management.py
  common/test/acceptance/tests/discussion/test_cohorts.py
  common/test/acceptance/tests/discussion/test_discussion.py
  common/test/acceptance/tests/discussion/test_discussion_management.py
Labels: awaiting prioritization, open-source-contribution

#20099 Cleanup datatable code in sysadmin user tab
  lms/djangoapps/dashboard/sysadmin.py
Labels: needs triage, open-source-contribution

#20494 INCR-237 Run python modernize on openedx/tests
  openedx/tests/completion_integration/test_handlers.py
  openedx/tests/completion_integration/test_models.py
  openedx/tests/completion_integration/test_services.py
  openedx/tests/completion_integration/test_views.py
  openedx/tests/xblock_integration/test_crowdsource_hinter.py
  openedx/tests/xblock_integration/test_done.py
  openedx/tests/xblock_integration/test_external_xblocks.py
  openedx/tests/xblock_integration/test_recommender.py
  openedx/tests/xblock_integration/xblock_testcase.py
Labels: needs triage, open-source-contribution

#20266 Add capability to override MANUAL_ENROLLMENT_ROLE_CHOICES
  lms/envs/production.py
Labels: needs triage, open-source-contribution

#20687 Mark missing string for internationalization
  lms/templates/courseware/proctored-exam-status.underscore
Labels: awaiting prioritization, open-source-contribution

#20369 SE-985 Bump completion to 1.0.3 for Ironwood
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/testing.txt
Labels: awaiting prioritization, needs triage, open-source-contribution

#20683 Make platform bootstrap footer match other footer
  lms/static/sass/bootstrap/_footer.scss
  lms/templates/footer.html
Labels: awaiting prioritization, open-source-contribution, waiting on author
