Repository openedx/edx-platform, pull requests merged in 2019-10, with the labels that each got.

#21662 adds support for X-Token-Type
  openedx/core/djangoapps/oauth_dispatch/tests/test_views.py
  openedx/core/djangoapps/oauth_dispatch/views.py
Labels: awaiting prioritization, open-source-contribution

#21816 Regisb/simplify swagger auto schema
  Makefile
  cms/urls.py
  docs/swagger.yaml
  lms/djangoapps/certificates/apis/v0/views.py
  lms/envs/common.py
  lms/urls.py
  openedx/core/apidocs.py
  openedx/core/djangoapps/bookmarks/serializers.py
  openedx/core/djangoapps/bookmarks/views.py
  openedx/core/openapi.py
Labels: awaiting prioritization, open-source-contribution

#22042 Activation email to ace
  cms/templates/emails/activation_email.txt
  cms/templates/emails/activation_email_subject.txt
  common/djangoapps/student/helpers.py
  common/djangoapps/student/message_types.py
  common/djangoapps/student/tasks.py
  common/djangoapps/student/tests/test_email.py
  common/djangoapps/student/tests/test_tasks.py
  common/djangoapps/student/views/management.py
  common/templates/student/edx_ace/accountactivation/email/body.html
  common/templates/student/edx_ace/accountactivation/email/body.txt
  common/templates/student/edx_ace/accountactivation/email/from_name.txt
  common/templates/student/edx_ace/accountactivation/email/head.html
  common/templates/student/edx_ace/accountactivation/email/subject.txt
  common/test/test_sites/test_site/templates/emails/activation_email.txt
  common/test/test_sites/test_site/templates/emails/activation_email_subject.txt
  lms/templates/emails/activation_email.txt
  lms/templates/emails/activation_email_subject.txt
  openedx/core/djangoapps/user_authn/views/login.py
  openedx/core/djangoapps/user_authn/views/tests/test_register.py
Labels: open-source-contribution, waiting on author

#22132 Fixed exception in VisibleBlocks.bulk_create due to incorrect argument passed
  lms/djangoapps/grades/models.py
Labels: awaiting prioritization, open-source-contribution

#21185 Making student account deletion components a bit site aware
  lms/static/js/student_account/StudentAccountDeletionInitializer.js
  lms/static/js/student_account/components/StudentAccountDeletion.jsx
  lms/static/js/student_account/components/StudentAccountDeletionModal.jsx
  lms/templates/student_account/account_settings.html
Labels: engineering review, open-source-contribution

#19441 Fix static urls in pdf_viewer.html to correctly display PDF viewer for textbooks
  common/djangoapps/pipeline_mako/templates/static_content.html
  lms/templates/pdf_viewer.html
Labels: engineering review, needs triage, open-source-contribution
