Repository openedx/edx-platform, pull requests merged in 2020-04, with the labels that each got.

#23541 LEARNER-2041: Remove deprecated LogoutViewConfiguration from student models
  common/djangoapps/student/models.py
  common/djangoapps/util/tests/test_db.py
Labels: engineering review, open-source-contribution, waiting on author

#23680 Fix tests that are failing due to missing youtube content.
  common/lib/xmodule/xmodule/tests/test_video.py
Labels: needs triage, open-source-contribution

#23628 Merge all configs of devstack_docker.py into devstack.py
  cms/envs/devstack.py
  cms/envs/devstack_docker.py
  cms/envs/devstack_optimized.py
  cms/envs/devstack_with_worker.py
  lms/envs/devstack.py
  lms/envs/devstack_docker.py
  lms/envs/devstack_optimized.py
  lms/envs/devstack_with_worker.py
Labels: awaiting prioritization, open-source-contribution

#23685 Fix broken tests in ironwood branch.
  common/lib/xmodule/xmodule/tests/test_video.py
Labels: awaiting prioritization, open-source-contribution

#23671 SE-2320 Adds django-cookies-sameseite middleware
  lms/djangoapps/email_marketing/signals.py
  lms/envs/common.py
  lms/envs/production.py
  openedx/core/djangoapps/lang_pref/middleware.py
  openedx/core/djangoapps/lang_pref/tests/test_middleware.py
  openedx/core/djangoapps/lang_pref/views.py
  openedx/core/djangoapps/user_authn/views/auto_auth.py
  requirements/edx/base.in
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/testing.txt
Labels: awaiting prioritization, open-source-contribution

#23790 Fix docstring of retrieve_last_sitewide_block_completed
  openedx/core/djangoapps/user_api/accounts/utils.py
Labels: awaiting prioritization, open-source-contribution

#23246 [SE-2264] [LX-744] Return more metadata in xblock api
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/tests/test_runtime.py
  openedx/core/djangoapps/xblock/api.py
  openedx/core/djangoapps/xblock/rest_api/views.py
Labels: awaiting prioritization, open-source-contribution

#23233 REST API for managing Content Library bundle links
  openedx/core/djangoapps/content_libraries/api.py
  openedx/core/djangoapps/content_libraries/library_bundle.py
  openedx/core/djangoapps/content_libraries/serializers.py
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/tests/test_content_libraries.py
  openedx/core/djangoapps/content_libraries/urls.py
  openedx/core/djangoapps/content_libraries/views.py
  openedx/core/lib/blockstore_api/methods.py
Labels: engineering review, open-source-contribution

#23469 Cache Blockstore XBlock field data per thread, not per-process
  openedx/core/djangoapps/xblock/api.py
Labels: engineering review, open-source-contribution
