Repository openedx/edx-platform, pull requests merged in 2023-09, with the labels that each got.

#32783 feat: implements SHOW_REGISTRATION_LINKS feature toggle
  cms/envs/common.py
  cms/templates/howitworks.html
  cms/templates/widgets/header.html
  lms/envs/common.py
  lms/static/js/student_account/views/AccessView.js
  lms/static/js/student_account/views/FormView.js
  lms/static/js/student_account/views/LoginView.js
  lms/static/js/student_account/views/RegisterView.js
  lms/templates/header/navbar-not-authenticated.html
  lms/templates/navigation/navbar-not-authenticated.html
  lms/templates/student_account/form_field.underscore
  openedx/core/djangoapps/user_authn/views/login_form.py
Labels: open-source-contribution, waiting for eng review

#32907 feat: add language auto-tagging
  openedx/features/content_tagging/api.py
  openedx/features/content_tagging/apps.py
  openedx/features/content_tagging/fixtures/system_defined.yaml
  openedx/features/content_tagging/handlers.py
  openedx/features/content_tagging/migrations/0003_system_defined_fixture.py
  openedx/features/content_tagging/migrations/0004_system_defined_org.py
  openedx/features/content_tagging/migrations/0005_auto_20230830_1517.py
  openedx/features/content_tagging/models/__init__.py
  openedx/features/content_tagging/models/base.py
  openedx/features/content_tagging/models/system_defined.py
  openedx/features/content_tagging/tasks.py
  openedx/features/content_tagging/tests/test_models.py
  openedx/features/content_tagging/tests/test_tasks.py
  openedx/features/content_tagging/toggles.py
  xmodule/modulestore/tests/test_mixed_modulestore.py
Labels: open-source-contribution

#33150 Add the default enrollment start date on course creation
  openedx/core/djangoapps/models/tests/test_course_details.py
  xmodule/course_block.py
  xmodule/modulestore/tests/factories.py
  xmodule/tests/test_course_block.py
Labels: open-source-contribution

#33050 fix: for the wiki page translation
  lms/templates/wiki/includes/editor_widget.html
Labels: open-source-contribution

#32489 fix: float "&nbsp;" symbol in the preview_body
  lms/djangoapps/discussion/rest_api/serializers.py
  lms/djangoapps/discussion/rest_api/tests/test_serializers.py
Labels: open-source-contribution

#31134 [OldMongo FC-0004] Remove support for children in Old Mongo
  cms/djangoapps/contentstore/management/commands/tests/test_cleanup_assets.py
  cms/djangoapps/contentstore/management/commands/tests/test_create_course.py
  cms/djangoapps/contentstore/management/commands/tests/test_export_all_courses.py
  cms/djangoapps/contentstore/management/commands/tests/test_fix_not_found.py
  cms/djangoapps/contentstore/management/commands/tests/test_force_publish.py
  cms/djangoapps/contentstore/management/commands/tests/test_import.py
  cms/djangoapps/contentstore/tests/test_import_pure_xblock.py
  cms/djangoapps/contentstore/tests/test_libraries.py
  cms/djangoapps/contentstore/tests/utils.py
  cms/djangoapps/contentstore/views/tests/test_block.py
  cms/djangoapps/contentstore/views/tests/test_container_page.py
  cms/djangoapps/contentstore/views/tests/utils.py
  cms/lib/xblock/test/test_authoring_mixin.py
  common/djangoapps/student/tests/test_certificates.py
  common/djangoapps/student/tests/test_course_listing.py
  lms/djangoapps/course_api/tests/test_serializers.py
  lms/djangoapps/course_blocks/transformers/tests/test_load_override_data.py
  lms/djangoapps/course_wiki/tests/test_access.py
  lms/djangoapps/course_wiki/tests/test_middleware.py
  lms/djangoapps/courseware/tests/helpers.py
  lms/djangoapps/courseware/tests/test_lti_integration.py
  lms/djangoapps/courseware/tests/test_video_handlers.py
  lms/djangoapps/courseware/tests/test_video_mongo.py
  lms/djangoapps/courseware/tests/tests.py
  lms/djangoapps/instructor/tests/test_enrollment.py
  lms/djangoapps/lti_provider/tests/test_outcomes.py
  openedx/core/djangoapps/content/course_overviews/tests/data/mongo_course.json
  openedx/core/djangoapps/content/course_overviews/tests/test_course_overviews.py
  openedx/core/djangoapps/content/course_overviews/tests/test_tasks.py
  xmodule/modulestore/__init__.py
  xmodule/modulestore/mongo/base.py
  xmodule/modulestore/mongo/draft.py
  xmodule/modulestore/tests/test_assetstore.py
  xmodule/modulestore/tests/test_cross_modulestore_import_export.py
  xmodule/modulestore/tests/test_mixed_modulestore.py
  xmodule/modulestore/tests/test_mongo.py
  xmodule/modulestore/tests/test_mongo_call_count.py
  xmodule/modulestore/tests/test_publish.py
  xmodule/modulestore/tests/test_xml_importer.py
  xmodule/tests/test_course_metadata_utils.py
Labels: open-source-contribution, FC

#33173 feat: create course home api DRF
  cms/djangoapps/contentstore/rest_api/v1/serializers/__init__.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/common.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/course_rerun.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/home.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/settings.py
  cms/djangoapps/contentstore/rest_api/v1/urls.py
  cms/djangoapps/contentstore/rest_api/v1/views/__init__.py
  cms/djangoapps/contentstore/rest_api/v1/views/course_rerun.py
  cms/djangoapps/contentstore/rest_api/v1/views/home.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_course_rerun.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_home.py
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/views/course.py
Labels: open-source-contribution

#32448 feat: add instructor dashboard filter integration
  lms/djangoapps/instructor/tests/test_filters.py
  lms/djangoapps/instructor/views/instructor_dashboard.py
Labels: open-source-contribution, core committer

#32955 refactor: update codejail test condition
  xmodule/capa/safe_exec/tests/test_safe_exec.py
Labels: open-source-contribution

#33096 fix: load user preference for notes visibility in courseware API and toggle_notes.html template
  lms/djangoapps/courseware/views/views.py
  lms/templates/courseware/courseware-chromeless.html
  lms/templates/courseware/courseware.html
  lms/templates/edxnotes/toggle_notes.html
  openedx/core/djangoapps/content/course_overviews/models.py
  openedx/core/djangoapps/courseware_api/views.py
Labels: open-source-contribution

#31578 fix: share certificate in FB
  lms/djangoapps/certificates/tests/test_webview_views.py
  lms/templates/certificates/_accomplishment-banner.html
  lms/templates/certificates/accomplishment-base.html
Labels: open-source-contribution, waiting for eng review, needs maintainer attention

#33204 feat: create course home api DRF
  cms/djangoapps/contentstore/rest_api/v1/serializers/__init__.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/common.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/course_rerun.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/home.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/settings.py
  cms/djangoapps/contentstore/rest_api/v1/urls.py
  cms/djangoapps/contentstore/rest_api/v1/views/__init__.py
  cms/djangoapps/contentstore/rest_api/v1/views/course_rerun.py
  cms/djangoapps/contentstore/rest_api/v1/views/home.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_course_rerun.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_home.py
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/views/course.py
Labels: open-source-contribution

#32982 chore: remove duplicate apt dependencies from Dockerfile
  Dockerfile
Labels: open-source-contribution

#32952 feat: install `atlas` translations tool
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/kernel.in
  requirements/edx/testing.txt
Labels: open-source-contribution

#33240 feat: change problem default display name
  cms/djangoapps/contentstore/helpers.py
  cms/djangoapps/contentstore/views/component.py
  cms/djangoapps/contentstore/views/tests/test_block.py
  openedx/core/djangoapps/content_libraries/tests/test_content_libraries.py
  xmodule/capa_block.py
Labels: Content Libraries

#33169 [FC-0009] fix: Vertically center align Unit paste spinner
  cms/static/js/views/course_outline.js
Labels: open-source-contribution

#33164 [FC-0009] fix: Copy/Paste unit with python_lib.zip
  openedx/core/lib/xblock_serializer/block_serializer.py
Labels: open-source-contribution

#33260 fix: add public video share valid course key check
  xmodule/video_block/video_block.py
Labels: Content Libraries

#33239 [FC-0009] fix: Escape CDATA special char on xblock serialize
  openedx/core/lib/xblock_serializer/block_serializer.py
Labels: open-source-contribution

#33197 [FC-0009] feat: Update new files notification banner styles
  cms/djangoapps/contentstore/tests/test_contentstore.py
  cms/djangoapps/contentstore/views/tests/test_container_page.py
  cms/static/js/views/course_outline.js
  cms/static/js/views/pages/container.js
  cms/static/sass/elements/_system-feedback.scss
  cms/templates/container.html
  cms/templates/course_outline.html
  common/static/common/js/components/views/feedback_notification.js
  common/static/common/templates/components/system-feedback.underscore
Labels: open-source-contribution

#33006 feat: add email support to the enrollment post and get methods
  openedx/core/djangoapps/enrollments/forms.py
  openedx/core/djangoapps/enrollments/tests/fixtures/course-enrollments-api-list-valid-data.json
  openedx/core/djangoapps/enrollments/tests/test_views.py
  openedx/core/djangoapps/enrollments/views.py
Labels: open-source-contribution

#33059 feat: CourseEnrollmentAllowed API
  openedx/core/djangoapps/enrollments/serializers.py
  openedx/core/djangoapps/enrollments/tests/test_views.py
  openedx/core/djangoapps/enrollments/urls.py
  openedx/core/djangoapps/enrollments/views.py
Labels: open-source-contribution, waiting on author

#33024 fix: Bug 404 for state RETIRING_FORUMS user retirement
  lms/djangoapps/discussion/rest_api/urls.py
Labels: open-source-contribution

#33233 docs: annotate lms progress tab ui waffle flag
  lms/djangoapps/course_home_api/toggles.py
Labels: open-source-contribution

#33124 fix: loading of underscore and other text assets over CDN
  cms/static/cms/js/require-config.js
  lms/static/lms/js/require-config.js
Labels: open-source-contribution

#33181 feat: implement tag object rest api in cms
  openedx/features/content_tagging/rest_api/v1/filters.py
  openedx/features/content_tagging/rest_api/v1/tests/test_views.py
  openedx/features/content_tagging/rules.py
  openedx/features/content_tagging/tests/test_rules.py
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#33191 fix: hide sequences & sections when access is restricted in units
  lms/djangoapps/course_home_api/outline/views.py
  openedx/core/djangoapps/content/learning_sequences/api/outlines.py
  openedx/core/djangoapps/content/learning_sequences/api/processors/cohort_partition_groups.py
  openedx/core/djangoapps/content/learning_sequences/api/tests/test_outlines.py
  openedx/core/djangoapps/content/learning_sequences/data.py
  openedx/core/djangoapps/course_groups/cohorts.py
Labels: open-source-contribution, needs test run

#33162 fix: Get registration fields from site configuration
  openedx/core/djangoapps/user_authn/views/register.py
Labels: open-source-contribution

#33165 fix: get registration fields from site configuration (master)
  openedx/core/djangoapps/user_authn/views/register.py
Labels: open-source-contribution, waiting for eng review

#33259 Move content_tagging django app so that CMS-only tests run
  .github/workflows/pylint-checks.yml
  .github/workflows/unit-test-shards.json
  cms/envs/common.py
  cms/urls.py
  lms/envs/common.py
  openedx/core/djangoapps/content_tagging/__init__.py
  openedx/core/djangoapps/content_tagging/admin.py
  openedx/core/djangoapps/content_tagging/api.py
  openedx/core/djangoapps/content_tagging/apps.py
  openedx/core/djangoapps/content_tagging/handlers.py
  openedx/core/djangoapps/content_tagging/migrations/0001_initial.py
  openedx/core/djangoapps/content_tagging/migrations/0002_system_defined_taxonomies.py
  openedx/core/djangoapps/content_tagging/migrations/0003_system_defined_fixture.py
  openedx/core/djangoapps/content_tagging/migrations/0004_system_defined_org.py
  openedx/core/djangoapps/content_tagging/migrations/0005_auto_20230830_1517.py
  openedx/core/djangoapps/content_tagging/migrations/__init__.py
  openedx/core/djangoapps/content_tagging/models/__init__.py
  openedx/core/djangoapps/content_tagging/models/base.py
  openedx/core/djangoapps/content_tagging/models/system_defined.py
  openedx/core/djangoapps/content_tagging/rest_api/__init__.py
  openedx/core/djangoapps/content_tagging/rest_api/urls.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/__init__.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/filters.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/serializers.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/tests/__init__.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/tests/test_views.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/urls.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/views.py
  openedx/core/djangoapps/content_tagging/rules.py
  openedx/core/djangoapps/content_tagging/tasks.py
  openedx/core/djangoapps/content_tagging/tests/__init__.py
  openedx/core/djangoapps/content_tagging/tests/test_api.py
  openedx/core/djangoapps/content_tagging/tests/test_models.py
  openedx/core/djangoapps/content_tagging/tests/test_rules.py
  openedx/core/djangoapps/content_tagging/tests/test_tasks.py
  openedx/core/djangoapps/content_tagging/toggles.py
  openedx/core/djangoapps/content_tagging/urls.py
Labels: open-source-contribution

#33289 feat: [FC-0031] Add Bearer Authentication to Delete Account view
  openedx/core/djangoapps/user_api/accounts/tests/test_retirement_views.py
  openedx/core/djangoapps/user_api/accounts/views.py
Labels: open-source-contribution

#33276 [FC-0009] fix: Hide Copy menu button in ContentLibrary
  cms/djangoapps/contentstore/views/preview.py
  cms/static/js/views/pages/container.js
  cms/templates/studio_xblock_wrapper.html
Labels: open-source-contribution

#32720 fix: order in the view of the signatures in the certificate when choice print
  lms/static/certificates/sass/_layouts.scss
Labels: open-source-contribution

#33311 Remove tagging object rest api pagination
  openedx/core/djangoapps/content_tagging/rest_api/v1/tests/test_views.py
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution
