Repository openedx/edx-platform, pull requests merged in 2024-12, with the labels that each got.

#34479 fix: an issue where changing the transcript language code
  xmodule/video_block/video_handlers.py
Labels: open-source-contribution, bug

#35932 refactor: Update get block OLX view to support versions [FC-0062]
  openedx/core/djangoapps/content_libraries/views.py
  openedx/core/djangoapps/xblock/api.py
  openedx/core/djangoapps/xblock/rest_api/serializers.py
  openedx/core/djangoapps/xblock/rest_api/urls.py
  openedx/core/djangoapps/xblock/rest_api/views.py
  openedx/core/djangoapps/xblock/runtime/learning_core_runtime.py
  openedx/core/djangoapps/xblock/utils.py
Labels: open-source-contribution, FC

#35953 fix: content libraries permissions [FC-0062]
  cms/djangoapps/contentstore/rest_api/v1/serializers/home.py
  cms/djangoapps/contentstore/rest_api/v1/views/home.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_home.py
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/views/tests/test_course_index.py
  openedx/core/djangoapps/content_libraries/api.py
  openedx/core/djangoapps/content_libraries/permissions.py
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/tests/test_content_libraries.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/tests/test_views.py
Labels: open-source-contribution, FC

#35979 fix: content libraries permissions [sumac]
  cms/djangoapps/contentstore/rest_api/v1/serializers/home.py
  cms/djangoapps/contentstore/rest_api/v1/views/home.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_home.py
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/views/tests/test_course_index.py
  openedx/core/djangoapps/content_libraries/api.py
  openedx/core/djangoapps/content_libraries/permissions.py
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/tests/test_content_libraries.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/tests/test_views.py
Labels: open-source-contribution

#35973 [sumac] refactor: Update get block OLX view to support versions [FC-0062]
  openedx/core/djangoapps/content_libraries/views.py
  openedx/core/djangoapps/xblock/api.py
  openedx/core/djangoapps/xblock/rest_api/serializers.py
  openedx/core/djangoapps/xblock/rest_api/urls.py
  openedx/core/djangoapps/xblock/rest_api/views.py
  openedx/core/djangoapps/xblock/runtime/learning_core_runtime.py
  openedx/core/djangoapps/xblock/utils.py
Labels: open-source-contribution, FC, backport

#35864 feat: incremental reindex_studio management command [FC-0062]
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/index_config.py
  openedx/core/djangoapps/content/search/management/commands/reindex_studio.py
  openedx/core/djangoapps/content/search/migrations/0002_incrementalindexcompleted.py
  openedx/core/djangoapps/content/search/models.py
  openedx/core/djangoapps/content/search/tests/test_api.py
Labels: open-source-contribution

#35981 feat: incremental reindex_studio management command [FC-0062] [Backport]
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/index_config.py
  openedx/core/djangoapps/content/search/management/commands/reindex_studio.py
  openedx/core/djangoapps/content/search/migrations/0002_incrementalindexcompleted.py
  openedx/core/djangoapps/content/search/models.py
  openedx/core/djangoapps/content/search/tests/test_api.py
Labels: open-source-contribution, backport

#35980 chore: update Django to 4.2.17 for Sumac - Security Patch
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
  scripts/user_retirement/requirements/base.txt
  scripts/user_retirement/requirements/testing.txt
Labels: open-source-contribution

#35972 fix: return empty list when no courses are found for request
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_home.py
  cms/djangoapps/contentstore/rest_api/v2/views/tests/test_home.py
  cms/djangoapps/contentstore/views/course.py
Labels: open-source-contribution

#35910 fix: render library assets named xblock-...
  common/djangoapps/static_replace/__init__.py
  common/djangoapps/static_replace/test/test_static_replace.py
Labels: open-source-contribution

#31435 feat: remove the broken Zooming Image Tool
  cms/djangoapps/contentstore/views/tests/test_block.py
  xmodule/templates/html/zooming_image.yaml
  xmodule/templates/test/zooming_image.yaml
  xmodule/tests/test_resource_templates.py
Labels: depr, maintenance

#35207 feat: allow blocks lower than units to be bookmarked
  lms/templates/vert_module.html
  openedx/features/course_bookmarks/static/course_bookmarks/js/models/bookmark.js
  openedx/features/course_bookmarks/static/course_bookmarks/js/views/bookmark_button.js
  openedx/features/course_bookmarks/static/course_bookmarks/js/views/bookmarks_list.js
Labels: open-source-contribution, core contributor

#35921 chore: [FC-0074] drop hooks docs in favor of latest in docs.openedx.org
  docs/concepts/extension_points.rst
  docs/conf.py
  docs/hooks/events.rst
  docs/hooks/filters.rst
  docs/hooks/index.rst
  docs/index.rst
Labels: open-source-contribution, FC

#36002 feat: reapply forum v2 changes
  lms/djangoapps/discussion/django_comment_client/base/tests.py
  lms/djangoapps/discussion/django_comment_client/base/views.py
  lms/djangoapps/discussion/django_comment_client/tests/group_id.py
  lms/djangoapps/discussion/rest_api/api.py
  lms/djangoapps/discussion/rest_api/discussions_notifications.py
  lms/djangoapps/discussion/rest_api/serializers.py
  lms/djangoapps/discussion/rest_api/tests/test_api.py
  lms/djangoapps/discussion/rest_api/tests/test_serializers.py
  lms/djangoapps/discussion/rest_api/tests/test_tasks.py
  lms/djangoapps/discussion/rest_api/tests/test_views.py
  lms/djangoapps/discussion/tests/test_tasks.py
  lms/djangoapps/discussion/tests/test_views.py
  lms/djangoapps/discussion/toggles.py
  openedx/core/djangoapps/discussions/config/waffle.py
  openedx/core/djangoapps/django_comment_common/comment_client/comment.py
  openedx/core/djangoapps/django_comment_common/comment_client/course.py
  openedx/core/djangoapps/django_comment_common/comment_client/models.py
  openedx/core/djangoapps/django_comment_common/comment_client/subscriptions.py
  openedx/core/djangoapps/django_comment_common/comment_client/thread.py
  openedx/core/djangoapps/django_comment_common/comment_client/user.py
  openedx/core/djangoapps/django_comment_common/comment_client/utils.py
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/kernel.in
  requirements/edx/testing.txt
Labels: open-source-contribution

#34609 Fix: Course team members are included in "Learners in the track" emails recipients
  lms/djangoapps/bulk_email/models.py
  lms/djangoapps/bulk_email/tests/test_models.py
Labels: open-source-contribution

#36022 fix: adequate course key type in forum v2
  openedx/core/djangoapps/discussions/config/waffle.py
  openedx/core/djangoapps/django_comment_common/comment_client/models.py
  openedx/core/djangoapps/django_comment_common/comment_client/thread.py
Labels: open-source-contribution

#36023 fix: adequate course key type in forum v2
  openedx/core/djangoapps/discussions/config/waffle.py
  openedx/core/djangoapps/django_comment_common/comment_client/models.py
  openedx/core/djangoapps/django_comment_common/comment_client/thread.py
Labels: open-source-contribution

#36012 feat: Reimplement the Zooming Image Tool
  cms/static/sass/elements/_vendor.scss
  xmodule/templates/html/zooming_image.yaml
Labels: create-sandbox

#35993 feat: api to restore soft-deleted component [FC-0076]
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/tests/test_handlers.py
  openedx/core/djangoapps/content_libraries/api.py
  openedx/core/djangoapps/content_libraries/tests/test_api.py
  openedx/core/djangoapps/content_libraries/urls.py
  openedx/core/djangoapps/content_libraries/views.py
  openedx/core/djangoapps/content_tagging/handlers.py
  openedx/core/djangoapps/content_tagging/tests/test_tasks.py
Labels: open-source-contribution

#35982 feat: add schedule queryset request filter integration
  openedx/core/djangoapps/schedules/resolvers.py
  openedx/core/djangoapps/schedules/tests/test_filters.py
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#36019 fix: log correct time and duration for video subsections
  xmodule/js/spec/video/video_control_spec.js
  xmodule/js/spec/video/video_events_plugin_spec.js
  xmodule/js/src/video/04_video_control.js
  xmodule/js/src/video/09_events_plugin.js
Labels: open-source-contribution, needs reviewer assigned

#35974 fix: render library v2 assets with whitespace
  openedx/core/djangoapps/content_libraries/tests/test_static_assets.py
  openedx/core/djangoapps/content_libraries/views.py
  openedx/core/djangoapps/xblock/runtime/learning_core_runtime.py
Labels: open-source-contribution
