Repository openedx/edx-platform, pull requests merged in 2024-01, with the labels that each got.

#33975 fix: respect ENABLE_NEW_STRUCTURE_DISCUSSIONS flag in course import
  cms/djangoapps/contentstore/tasks.py
Labels: open-source-contribution

#33984 fix: Incorrect ORA assignment link in Dates tab
  lms/djangoapps/courseware/courses.py
Labels: open-source-contribution

#33943 feat: create DRF endpoint to get course index context
  cms/djangoapps/contentstore/rest_api/serializers/common.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/__init__.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/course_index.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/proctoring.py
  cms/djangoapps/contentstore/rest_api/v1/urls.py
  cms/djangoapps/contentstore/rest_api/v1/views/__init__.py
  cms/djangoapps/contentstore/rest_api/v1/views/course_index.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_course_index.py
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/views/course.py
  cms/djangoapps/contentstore/views/tests/test_course_index.py
Labels: open-source-contribution

#34015 chore: update openedx-learning version to 0.4.1 [FC-0036]
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#33979 feat: Add tags count for v2 library components
  openedx/core/djangoapps/content_libraries/api.py
  openedx/core/djangoapps/content_libraries/serializers.py
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#33502 feat: FC-0012 - add atlas pull behind a flag
  Dockerfile
  Makefile
Labels: open-source-contribution

#33698 feat: `atlas pull` for XBlock translations | FC-0012
  .gitignore
  Makefile
  common/djangoapps/xblock_django/management/commands/compile_xblock_translations.py
  common/djangoapps/xblock_django/management/commands/pull_xblock_translations.py
  common/djangoapps/xblock_django/tests/test_commands.py
  common/djangoapps/xblock_django/tests/test_translation.py
  common/djangoapps/xblock_django/translation.py
  docs/decisions/0019-oep-58-atlas-translations-design.rst
  openedx/core/djangoapps/plugins/i18n_api.py
  openedx/core/djangoapps/plugins/tests/__init__.py
  openedx/core/djangoapps/plugins/tests/test_i18n_api.py
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
  xmodule/modulestore/api.py
  xmodule/modulestore/django.py
  xmodule/modulestore/tests/conftest.py
  xmodule/modulestore/tests/fixtures/django.mo
  xmodule/modulestore/tests/fixtures/django.po
  xmodule/modulestore/tests/test_api.py
  xmodule/modulestore/tests/test_django_utils.py
Labels: open-source-contribution

#33928 feat: Tag count in components [FC-0036]
  cms/djangoapps/contentstore/views/block.py
  cms/djangoapps/contentstore/views/preview.py
  cms/djangoapps/contentstore/views/tests/test_block.py
  cms/djangoapps/contentstore/xblock_storage_handlers/view_handlers.py
  cms/djangoapps/contentstore/xblock_storage_handlers/xblock_helpers.py
  cms/static/js/views/pages/container.js
  cms/templates/studio_xblock_wrapper.html
  openedx/core/djangoapps/content_tagging/api.py
Labels: open-source-contribution

#34047 fix(quince): add `JwtRestrictedApplication` check to XBlock callback
  lms/djangoapps/courseware/block_render.py
  lms/djangoapps/courseware/tests/test_block_render.py
Labels: open-source-contribution

#34048 fix(palm): add `JwtRestrictedApplication` check to XBlock callback
  lms/djangoapps/courseware/block_render.py
  lms/djangoapps/courseware/tests/test_block_render.py
  openedx/features/survey_report/tests/test_query_methods.py
Labels: open-source-contribution

#34057 fix: Replace deprecated .warn method with .warning
  openedx/core/djangoapps/user_authn/views/login.py
Labels: open-source-contribution

#34033 refactor: changed survey report message location and added a new info…
  lms/templates/admin/base_site.html
  openedx/features/survey_report/admin.py
  openedx/features/survey_report/templates/survey_report/admin_banner.html
  openedx/features/survey_report/templates/survey_report/change_list.html
Labels: open-source-contribution

#34053 fix: Incorrect ORA assignment link in Dates tab (#33984) [Backport - Quince]
  lms/djangoapps/courseware/courses.py
Labels: open-source-contribution, backport

#34072 fix: manage tags menu string case
  cms/templates/studio_xblock_wrapper.html
Labels: open-source-contribution

#33421 feat: add brand_color variable for the email templates
  common/djangoapps/student/tests/test_email.py
  common/templates/student/edx_ace/accountactivation/email/body.html
  common/templates/student/edx_ace/emailchange/email/body.html
  common/templates/student/edx_ace/emailchangeconfirmation/email/body.html
  lms/djangoapps/instructor/tests/test_api.py
  lms/templates/instructor/edx_ace/addbetatester/email/body.html
  lms/templates/instructor/edx_ace/allowedenroll/email/body.html
  lms/templates/instructor/edx_ace/allowedunenroll/email/body.html
  lms/templates/instructor/edx_ace/enrolledunenroll/email/body.html
  lms/templates/instructor/edx_ace/enrollenrolled/email/body.html
  lms/templates/instructor/edx_ace/removebetatester/email/body.html
  lms/templates/verify_student/edx_ace/verificationsubmitted/email/body.html
  openedx/core/djangoapps/ace_common/templates/ace_common/edx_ace/common/base_body.html
  openedx/core/djangoapps/ace_common/templates/ace_common/edx_ace/common/return_to_course_cta.html
  openedx/core/djangoapps/schedules/templates/schedules/edx_ace/upgradereminder/email/body.html
  openedx/core/djangoapps/user_api/templates/user_api/edx_ace/deletionnotificationmessage/email/body.html
Labels: open-source-contribution

#34056 feat: Language auto tagging library blocks
  openedx/core/djangoapps/content_tagging/handlers.py
  openedx/core/djangoapps/content_tagging/tasks.py
  openedx/core/djangoapps/content_tagging/tests/test_tasks.py
Labels: open-source-contribution

#34004 Tagging: serialize object permissions to REST API [FC-0036]
  openedx/core/djangoapps/content_tagging/api.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/tests/test_views.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/views.py
  openedx/core/djangoapps/content_tagging/rules.py
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#33846 feat: logout other sessions on email change
  common/djangoapps/student/signals/receivers.py
  common/djangoapps/student/tests/test_receivers.py
  common/djangoapps/student/views/management.py
  lms/djangoapps/certificates/apis/v0/tests/test_views.py
  lms/djangoapps/course_api/tests/test_views.py
  lms/djangoapps/course_home_api/course_metadata/tests/test_views.py
  lms/envs/common.py
  openedx/core/djangoapps/safe_sessions/middleware.py
  openedx/core/djangoapps/safe_sessions/tests/test_middleware.py
  openedx/core/djangoapps/user_api/accounts/tests/test_views.py
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: waiting on author

#34092 feat: added setting to disable the survey report banner entirely
  lms/envs/common.py
  lms/envs/production.py
  lms/envs/test.py
  openedx/features/survey_report/README.rst
  openedx/features/survey_report/admin.py
  openedx/features/survey_report/api.py
  openedx/features/survey_report/context_processors.py
Labels: open-source-contribution

#34036 feat: [FC-0044] Unit page API as DRF
  cms/djangoapps/contentstore/rest_api/v1/serializers/__init__.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/home.py
  cms/djangoapps/contentstore/rest_api/v1/serializers/vertical_block.py
  cms/djangoapps/contentstore/rest_api/v1/urls.py
  cms/djangoapps/contentstore/rest_api/v1/views/__init__.py
  cms/djangoapps/contentstore/rest_api/v1/views/home.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_vertical_block.py
  cms/djangoapps/contentstore/rest_api/v1/views/vertical_block.py
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/views/component.py
  openedx/core/djangoapps/content_staging/serializers.py
Labels: open-source-contribution

#34127 feat: add state sent to state column
  openedx/features/survey_report/admin.py
  openedx/features/survey_report/templates/survey_report/change_list.html
Labels: open-source-contribution

#33904 fix: add missing function import in certificate template
  lms/djangoapps/certificates/tests/test_views.py
  lms/templates/certificates/accomplishment-base.html
Labels: open-source-contribution

#34058 feat: include custom relative dates flag info in outline api
  cms/djangoapps/contentstore/rest_api/v1/serializers/course_index.py
  cms/djangoapps/contentstore/rest_api/v1/views/course_index.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_course_index.py
Labels: open-source-contribution
