Repository openedx/edx-platform, pull requests merged in 2024-06, with the labels that each got.

#34857 chore: cleanup
  .github/actions/unit-tests/action.yml
  .github/actions/verify-tests-count/action.yml
  .github/pull_request_template.md
  .github/workflows/add-remove-label-on-comment.yml
  .github/workflows/check-consistent-dependencies.yml
  .github/workflows/check-for-tutorial-prs.yml
  .github/workflows/ci-static-analysis.yml
  .github/workflows/compile-python-requirements.yml
  .github/workflows/docker-publish.yml
  .github/workflows/js-tests.yml
  .github/workflows/lint-imports.yml
  .github/workflows/lockfileversion-check.yml
  .github/workflows/migrations-check.yml
  .github/workflows/publish-ci-docker-image.yml
  .github/workflows/quality-checks.yml
  .github/workflows/semgrep.yml
  .github/workflows/shellcheck.yml
  .github/workflows/static-assets-check.yml
  .github/workflows/unit-tests.yml
  .github/workflows/units-test-scripts-structures-pruning.yml
  .github/workflows/units-test-scripts-user-retirement.yml
  .github/workflows/update-geolite-database.yml
  .github/workflows/upgrade-one-python-dependency.yml
  .github/workflows/upgrade-python-requirements.yml
  .github/workflows/verify-dunder-init.yml
  lms/djangoapps/course_home_api/urls.py
  lms/djangoapps/edxnotes/README.rst
  lms/envs/common.py
  lms/envs/devstack-experimental.yml
  lms/envs/devstack.py
  lms/envs/devstack_with_worker.py
  lms/envs/docs/README.rst
  lms/envs/production.py
  openedx/core/djangoapps/course_apps/docs/decisions/001-course-apps.rst
  openedx/core/djangoapps/oauth_dispatch/docs/decisions/0006-enforce-scopes-in-LMS-APIs.rst
  openedx/core/djangoapps/oauth_dispatch/docs/decisions/0009-jwt-in-session-cookie.rst
  openedx/core/djangoapps/oauth_dispatch/docs/how_tos/testing_manually.rst
  openedx/core/djangoapps/safe_sessions/tests/test_middleware.py
  openedx/core/lib/.coveragerc
  openedx/core/lib/mobile_utils.py
  setup.py
  xmodule/modulestore/docs/index.rst
  xmodule/modulestore/docs/mixedmodulestore.rst
  xmodule/modulestore/docs/overview.rst
  xmodule/modulestore/docs/split-mongo.rst
Labels: open-source-contribution

#34905 fix: reindex_studio was crashing if instance had too many courses
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/tests/test_api.py
Labels: open-source-contribution

#34933 fix: searching tag refinement was sometimes not working
  openedx/core/djangoapps/content/search/api.py
Labels: open-source-contribution

#34936 [Backport: Redwood] fix: reindex_studio was crashing if instance had too many courses
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/tests/test_api.py
Labels: open-source-contribution, bug, backport

#34935 [Backport: Redwood] fix: searching tag refinement was sometimes not working
  openedx/core/djangoapps/content/search/api.py
Labels: open-source-contribution, bug, backport

#34703 feat: Start conversion of StaticContentServer from middleware into view
  cms/envs/common.py
  cms/urls.py
  lms/envs/common.py
  lms/urls.py
  openedx/core/djangoapps/contentserver/middleware.py
  openedx/core/djangoapps/contentserver/urls.py
  openedx/core/djangoapps/contentserver/views.py
Labels: code health

#34961 fix: add in-line docs correct namespace for content_groups_for_teams
  openedx/core/lib/teams_config.py
Labels: open-source-contribution

#34366 feat: warn when relative dates are past due and can't be shifted
  lms/templates/problem.html
  lms/templates/vert_module.html
  openedx/features/course_experience/utils.py
  openedx/features/personalized_learner_schedules/call_to_action.py
Labels: open-source-contribution

#34879 feat: Use default pagination class for v2 lib views
  openedx/core/djangoapps/content_libraries/tests/test_content_libraries.py
  openedx/core/djangoapps/content_libraries/views.py
Labels: open-source-contribution

#34472 fix: Unexpected "Copied_from_block" field in Advanced Settings #34370
  cms/djangoapps/models/settings/course_metadata.py
Labels: open-source-contribution, needs reviewer assigned

#34914 feat: added automatic hiding functionality for the survey report banner when clicking on the dismiss button
  openedx/features/survey_report/static/survey_report/js/admin_banner.js
  openedx/features/survey_report/templates/survey_report/admin_banner.html
Labels: open-source-contribution

#34934 feat: Create content in library permission added to API response
  openedx/core/djangoapps/content_libraries/serializers.py
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/views.py
Labels: open-source-contribution, needs reviewer assigned
