Repository openedx/edx-platform, pull requests merged in 2024-09, with the labels that each got.

#34545 feat: remove unused JS requirement in CMS
  cms/envs/common.py
Labels: open-source-contribution, needs reviewer assigned

#35316 fix: hide new library button for ineligible users in split studio view
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/views/library.py
Labels: open-source-contribution

#33712 feat: course about page markup and styles improvements
  lms/djangoapps/courseware/tests/test_about.py
  lms/static/sass/multicourse/_course_about.scss
  lms/templates/courseware/course_about.html
Labels: open-source-contribution, product review complete

#33791 feat: course about page markup and styles improvements
  lms/djangoapps/courseware/tests/test_about.py
  lms/static/sass/multicourse/_course_about.scss
  lms/templates/courseware/course_about.html
Labels: open-source-contribution, backport, product review complete

#34892 feat: course about page markup and styles improvements
  lms/djangoapps/courseware/tests/test_about.py
  lms/static/sass/multicourse/_course_about.scss
  lms/templates/courseware/course_about.html
Labels: open-source-contribution, backport, product review complete

#35321 feat: Add Library Collections REST endpoints [FC-0062]
  docs/hooks/events.rst
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_documents.py
  openedx/core/djangoapps/content_libraries/api.py
  openedx/core/djangoapps/content_libraries/serializers.py
  openedx/core/djangoapps/content_libraries/tests/test_api.py
  openedx/core/djangoapps/content_libraries/tests/test_views_collections.py
  openedx/core/djangoapps/content_libraries/urls.py
  openedx/core/djangoapps/content_libraries/views.py
  openedx/core/djangoapps/content_libraries/views_collections.py
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution, FC

#35385 Convert sass variables to css variables
  common/static/sass/_builtin-block-variables.scss
  xmodule/assets/capa/_display.scss
  xmodule/assets/editor/_edit.scss
  xmodule/assets/html/_display.scss
  xmodule/assets/lti/_lti.scss
  xmodule/assets/poll/_display.scss
  xmodule/assets/problem/_edit.scss
  xmodule/assets/sequence/_display.scss
  xmodule/assets/tabs/_codemirror.scss
  xmodule/assets/tabs/_tabs.scss
  xmodule/assets/video/_accessible_menu.scss
  xmodule/assets/video/_display.scss
Labels: create-sandbox

#35426 feat: add can_access_advanced_settings to studio home [BB-9081]
  cms/djangoapps/contentstore/rest_api/v1/serializers/home.py
  cms/djangoapps/contentstore/rest_api/v1/views/home.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_home.py
  cms/djangoapps/contentstore/utils.py
Labels: open-source-contribution, needs reviewer assigned

#35469 Store content object collections in search index [FC-0062]
  docs/hooks/events.rst
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/handlers.py
  openedx/core/djangoapps/content/search/tasks.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_documents.py
  openedx/core/djangoapps/content_libraries/api.py
  openedx/core/djangoapps/content_libraries/tests/test_api.py
  openedx/core/djangoapps/content_tagging/api.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/views.py
Labels: open-source-contribution

#35473 feat: new URL to render a v2 xblock in an iframe [FC-0062]
  cms/templates/content_libraries/xblock_iframe.html
  lms/templates/xblock_v2/xblock_iframe.html
  openedx/core/djangoapps/xblock/rest_api/urls.py
  openedx/core/djangoapps/xblock/rest_api/views.py
Labels: open-source-contribution

#35476 feat: return publishing information on get component endpoint [FC-0062]
  openedx/core/djangoapps/content_libraries/api.py
  openedx/core/djangoapps/content_libraries/serializers.py
  openedx/core/djangoapps/content_libraries/tests/test_content_libraries.py
  openedx/core/djangoapps/content_tagging/tests/test_objecttag_export_helpers.py
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#35483 feat: Add collection tags to index [FC-0062]
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/handlers.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_documents.py
  openedx/core/djangoapps/content_libraries/api.py
Labels: open-source-contribution, FC

#35495 When editing a v2 library xblock, update search index synchronously [FC-0062]
  openedx/core/djangoapps/content/search/handlers.py
Labels: open-source-contribution, FC, needs reviewer assigned

#35488 fix: hide new library button for ineligible users split studio view (#35316)
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/views/library.py
Labels: open-source-contribution, needs reviewer assigned

#34971 feat: [FC-0047] add mobile push notifications functionality
  lms/djangoapps/ccx/api/v0/tests/test_views.py
  lms/djangoapps/ccx/api/v0/views.py
  lms/djangoapps/ccx/utils.py
  lms/djangoapps/ccx/views.py
  lms/djangoapps/discussion/signals/handlers.py
  lms/djangoapps/discussion/tasks.py
  lms/djangoapps/discussion/templates/discussion/edx_ace/commentnotification/push/body.txt
  lms/djangoapps/discussion/templates/discussion/edx_ace/commentnotification/push/title.txt
  lms/djangoapps/discussion/templates/discussion/edx_ace/responsenotification/push/body.txt
  lms/djangoapps/discussion/templates/discussion/edx_ace/responsenotification/push/title.txt
  lms/djangoapps/discussion/tests/test_tasks.py
  lms/djangoapps/instructor/access.py
  lms/djangoapps/instructor/enrollment.py
  lms/djangoapps/instructor/views/api.py
  lms/djangoapps/mobile_api/notifications/__init__.py
  lms/djangoapps/mobile_api/notifications/urls.py
  lms/djangoapps/mobile_api/notifications/views.py
  lms/djangoapps/mobile_api/urls.py
  lms/templates/instructor/edx_ace/addbetatester/push/body.txt
  lms/templates/instructor/edx_ace/addbetatester/push/title.txt
  lms/templates/instructor/edx_ace/allowedenroll/push/body.txt
  lms/templates/instructor/edx_ace/allowedenroll/push/title.txt
  lms/templates/instructor/edx_ace/allowedunenroll/push/body.txt
  lms/templates/instructor/edx_ace/allowedunenroll/push/title.txt
  lms/templates/instructor/edx_ace/enrolledunenroll/push/body.txt
  lms/templates/instructor/edx_ace/enrolledunenroll/push/title.txt
  lms/templates/instructor/edx_ace/enrollenrolled/push/body.txt
  lms/templates/instructor/edx_ace/enrollenrolled/push/title.txt
  lms/templates/instructor/edx_ace/removebetatester/push/body.txt
  lms/templates/instructor/edx_ace/removebetatester/push/title.txt
  openedx/core/djangoapps/ace_common/settings/common.py
  openedx/core/djangoapps/ace_common/settings/production.py
  openedx/core/djangoapps/ace_common/utils.py
  openedx/core/djangoapps/django_comment_common/comment_client/comment.py
  openedx/core/djangoapps/notifications/policies.py
  setup.py
Labels: open-source-contribution, FC

#35493 feat: add block_id field to filterable attributes of meilisearch
  openedx/core/djangoapps/content/search/api.py
Labels: open-source-contribution

#27788 fix: increase grading rounding precision to avoid incorrect grades
  lms/djangoapps/grades/rest_api/v1/tests/test_views.py
  lms/djangoapps/grades/scores.py
  lms/djangoapps/grades/tests/test_course_grade_factory.py
  lms/djangoapps/grades/tests/test_subsection_grade.py
  xmodule/graders.py
Labels: open-source-contribution, product review, product review complete

#35496 Soft delete collections
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/handlers.py
  openedx/core/djangoapps/content/search/tasks.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_documents.py
  openedx/core/djangoapps/content_libraries/api.py
  openedx/core/djangoapps/content_libraries/signal_handlers.py
  openedx/core/djangoapps/content_libraries/tests/test_api.py
  openedx/core/djangoapps/content_libraries/tests/test_views_collections.py
  openedx/core/djangoapps/content_libraries/views_collections.py
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#35508 feat: return modified date information on get component endpoint [FC-0062]
  openedx/core/djangoapps/content_libraries/serializers.py
  openedx/core/djangoapps/content_libraries/tests/test_content_libraries.py
Labels: open-source-contribution, FC

#35406 feat: set links for CourseAuthoring discussion alert
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_course_index.py
  cms/envs/common.py
Labels: open-source-contribution, needs reviewer assigned

#35543 Fix whitespace issues in some capa problem index_dictionary content [FC-0062]
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_handlers.py
  xmodule/capa_block.py
  xmodule/tests/test_capa_block.py
Labels: open-source-contribution, FC

#35544 fix: suppress errors+warnings when video is used in a content library [FC-0062]
  cms/djangoapps/contentstore/views/transcripts_ajax.py
  xmodule/video_block/transcripts_utils.py
  xmodule/video_block/video_block.py
Labels: open-source-contribution

#35547 chore: bumps openedx-learning to 0.13.1 [FC-0062]
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#35510 fix: Delete tags_count from LibraryXBlockMetadata [FC-0062]
  openedx/core/djangoapps/content_libraries/api.py
Labels: open-source-contribution

#35560 feat: deprecate get_verification_details_by_id
  lms/djangoapps/verify_student/services.py
  lms/djangoapps/verify_student/tests/test_services.py
  openedx/core/djangoapps/user_api/urls.py
  openedx/core/djangoapps/user_api/verification_api/tests/test_views.py
  openedx/core/djangoapps/user_api/verification_api/views.py
Labels: waiting for eng review

#35541 fix: handle missing name in readonly enterprise account fields
  openedx/features/enterprise_support/tests/test_utils.py
  openedx/features/enterprise_support/utils.py
Labels: open-source-contribution
