Repository openedx/edx-platform, pull requests merged in 2025-04, with the labels that each got.

#36432 feat: Update containers in search index on components update/delete [FC-0083]
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content_libraries/api/containers.py
  openedx/core/djangoapps/content_libraries/api/libraries.py
  openedx/core/djangoapps/content_libraries/library_context.py
  openedx/core/djangoapps/content_libraries/tests/test_api.py
  openedx/core/djangoapps/xblock/learning_context/learning_context.py
  openedx/core/djangoapps/xblock/runtime/learning_core_runtime.py
Labels: open-source-contribution

#36342 chore: update Django to 4.2.20 for Sumac - Security Patch
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
  scripts/user_retirement/requirements/base.txt
  scripts/user_retirement/requirements/testing.txt
Labels: open-source-contribution

#36470 fix: legacy forum issues
  lms/djangoapps/discussion/django_comment_client/base/views.py
  lms/djangoapps/discussion/views.py
  openedx/core/djangoapps/django_comment_common/comment_client/models.py
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#36468 Finishes refactoring libraries APIs [FC-0083]
  openedx/core/djangoapps/content_libraries/api/__init__.py
  openedx/core/djangoapps/content_libraries/api/blocks.py
  openedx/core/djangoapps/content_libraries/api/collections.py
  openedx/core/djangoapps/content_libraries/api/containers.py
  openedx/core/djangoapps/content_libraries/api/courseware_import.py
  openedx/core/djangoapps/content_libraries/api/exceptions.py
  openedx/core/djangoapps/content_libraries/api/libraries.py
  openedx/core/djangoapps/content_libraries/rest_api/blocks.py
  openedx/core/djangoapps/content_libraries/rest_api/libraries.py
  openedx/core/djangoapps/content_libraries/tests/test_api.py
Labels: open-source-contribution

#36484 feat: container support for tags [FC-0083]
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/handlers.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_documents.py
  openedx/core/djangoapps/content_tagging/rest_api/v1/tests/test_views.py
  openedx/core/djangoapps/content_tagging/tests/test_api.py
Labels: open-source-contribution, FC

#36464 fix: Delete index when delete container & Restore container API added [FC-0083]
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/handlers.py
  openedx/core/djangoapps/content/search/tasks.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content_libraries/api/containers.py
  openedx/core/djangoapps/content_libraries/rest_api/containers.py
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/tests/test_containers.py
  openedx/core/djangoapps/content_libraries/urls.py
Labels: open-source-contribution, FC

#36476 refactor!: use LibraryCollectionLocator and LibraryContainerLocator [FC-0083]
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/handlers.py
  openedx/core/djangoapps/content/search/tasks.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_documents.py
  openedx/core/djangoapps/content_libraries/api/blocks.py
  openedx/core/djangoapps/content_libraries/api/collections.py
  openedx/core/djangoapps/content_libraries/api/containers.py
  openedx/core/djangoapps/content_libraries/api/libraries.py
  openedx/core/djangoapps/content_libraries/library_context.py
  openedx/core/djangoapps/content_libraries/signal_handlers.py
  openedx/core/djangoapps/content_libraries/tests/test_api.py
  openedx/core/djangoapps/content_libraries/tests/test_containers.py
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution, FC

#36477 feat: post component height to parent window [FC-0083]
  common/templates/xblock_v2/xblock_iframe.html
  openedx/core/djangoapps/content_libraries/api/libraries.py
Labels: open-source-contribution, FC

#36512 feat: add markdown editor waffle flag
  cms/djangoapps/contentstore/rest_api/v1/serializers/course_waffle_flags.py
  cms/djangoapps/contentstore/rest_api/v1/views/course_waffle_flags.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_course_waffle_flags.py
  cms/djangoapps/contentstore/toggles.py
  xmodule/capa_block.py
Labels: open-source-contribution

#36258 FC-73 Implementing xqueue_submission service to send student response to edx-submission
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
  scripts/xsslint_thresholds.json
  xmodule/capa/capa_problem.py
  xmodule/capa/errors.py
  xmodule/capa/inputtypes.py
  xmodule/capa/registry.py
  xmodule/capa/tests/test_answer_pool.py
  xmodule/capa/tests/test_customrender.py
  xmodule/capa/tests/test_errors.py
  xmodule/capa/tests/test_util.py
  xmodule/capa/tests/test_xqueue_interface.py
  xmodule/capa/tests/test_xqueue_submission.py
  xmodule/capa/xqueue_interface.py
  xmodule/capa/xqueue_submission.py
  xmodule/docs/decisions/0005-send-data-to-edx-submission.rst
  xmodule/tests/test_capa_block.py
Labels: open-source-contribution, FC

#36478 feat: adds scrollToXBlock message handler for cms iframe view
  cms/static/js/views/pages/container.js
Labels: open-source-contribution

#36504 feat: collections support for containers [FC-0083]
  openedx/core/djangoapps/content/search/api.py
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/handlers.py
  openedx/core/djangoapps/content/search/tasks.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_documents.py
  openedx/core/djangoapps/content_libraries/api/blocks.py
  openedx/core/djangoapps/content_libraries/api/collections.py
  openedx/core/djangoapps/content_libraries/api/containers.py
  openedx/core/djangoapps/content_libraries/rest_api/blocks.py
  openedx/core/djangoapps/content_libraries/rest_api/collections.py
  openedx/core/djangoapps/content_libraries/rest_api/containers.py
  openedx/core/djangoapps/content_libraries/rest_api/serializers.py
  openedx/core/djangoapps/content_libraries/signal_handlers.py
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/tests/test_api.py
  openedx/core/djangoapps/content_libraries/tests/test_containers.py
  openedx/core/djangoapps/content_libraries/tests/test_views_collections.py
  openedx/core/djangoapps/content_libraries/urls.py
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#36516 Support pasting units from course into libraries
  cms/djangoapps/contentstore/helpers.py
  openedx/core/djangoapps/content_libraries/api/blocks.py
  openedx/core/djangoapps/content_libraries/api/containers.py
  openedx/core/djangoapps/content_libraries/rest_api/libraries.py
  openedx/core/djangoapps/content_libraries/rest_api/serializers.py
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/tests/test_api.py
  openedx/core/djangoapps/content_libraries/tests/test_containers.py
  openedx/core/djangoapps/content_libraries/tests/test_content_libraries.py
  openedx/core/djangoapps/content_libraries/tests/test_course_to_library.py
  openedx/core/djangoapps/content_staging/api.py
Labels: open-source-contribution

#36509 fix: Transcripts in downstream creation [FC-0076]
  cms/djangoapps/contentstore/helpers.py
  cms/djangoapps/contentstore/rest_api/v2/views/tests/test_downstreams.py
Labels: open-source-contribution, FC

#36515 feat: create Import and related models
  .github/workflows/unit-test-shards.json
  cms/djangoapps/import_from_modulestore/README.rst
  cms/djangoapps/import_from_modulestore/__init__.py
  cms/djangoapps/import_from_modulestore/admin.py
  cms/djangoapps/import_from_modulestore/apps.py
  cms/djangoapps/import_from_modulestore/data.py
  cms/djangoapps/import_from_modulestore/migrations/__init__.py
  cms/djangoapps/import_from_modulestore/models.py
  cms/envs/common.py
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#36543 feat: REST API to publish the changes to a container [FC-0083]
  openedx/core/djangoapps/content_libraries/api/blocks.py
  openedx/core/djangoapps/content_libraries/api/containers.py
  openedx/core/djangoapps/content_libraries/rest_api/blocks.py
  openedx/core/djangoapps/content_libraries/rest_api/containers.py
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/tests/test_containers.py
  openedx/core/djangoapps/content_libraries/urls.py
Labels: open-source-contribution, FC

#36563 (minor) Remove usage of deprecated key types / params in libraries code [FC-0083]
  openedx/core/djangoapps/content_libraries/api/containers.py
  openedx/core/djangoapps/xblock/api.py
Labels: open-source-contribution

#36551 feat: Add new publish fields on container search document [FC-0083]
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_documents.py
  openedx/core/djangoapps/content_libraries/api/containers.py
Labels: open-source-contribution

#36297 feat: allow return dates for not started courses for mobile
  lms/djangoapps/course_home_api/dates/views.py
  lms/djangoapps/courseware/courses.py
Labels: open-source-contribution

#36500 fix: save video asides during XML course import
  xmodule/tests/test_video.py
  xmodule/video_block/video_block.py
  xmodule/xml_block.py
Labels: open-source-contribution, needs reviewer assigned

#36220 fix: Broken CSS styles of ora2 block editor [FC-0076]
  cms/envs/common.py
  cms/static/sass/course-unit-mfe-iframe-bundle.scss
  common/static/css/vendor/hint.css
  common/templates/xblock_v2/xblock_iframe.html
  openedx/core/djangoapps/xblock/rest_api/views.py
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution

#36581 Enforce application layering using import linter
  mypy.ini
  openedx/core/djangoapps/content_staging/models.py
  openedx/core/djangoapps/content_staging/views.py
  setup.cfg
Labels: open-source-contribution

#36532 Allow Default Advanced Modules Configuration
  cms/djangoapps/contentstore/views/component.py
  cms/djangoapps/contentstore/views/tests/test_block.py
Labels: open-source-contribution

#36540 feat: Import from modulestore APIs
  cms/djangoapps/import_from_modulestore/api.py
  cms/djangoapps/import_from_modulestore/constants.py
  cms/djangoapps/import_from_modulestore/data.py
  cms/djangoapps/import_from_modulestore/helpers.py
  cms/djangoapps/import_from_modulestore/models.py
  cms/djangoapps/import_from_modulestore/tasks.py
  cms/djangoapps/import_from_modulestore/tests/__init__.py
  cms/djangoapps/import_from_modulestore/tests/factories.py
  cms/djangoapps/import_from_modulestore/tests/test_api.py
  cms/djangoapps/import_from_modulestore/tests/test_helpers.py
  cms/djangoapps/import_from_modulestore/tests/test_tasks.py
  cms/djangoapps/import_from_modulestore/tests/test_validators.py
  cms/djangoapps/import_from_modulestore/validators.py
  mypy.ini
  openedx/core/djangoapps/content_staging/api.py
Labels: open-source-contribution

#36496 feat!: Put "How It Works" Page Behind Waffle in Preparation for Removal
  cms/djangoapps/contentstore/tests/test_contentstore.py
  cms/djangoapps/contentstore/tests/tests.py
  cms/djangoapps/contentstore/toggles.py
  cms/djangoapps/contentstore/views/public.py
Labels: create-sandbox

#36553 Support for syncing units from libraries to courses
  cms/djangoapps/contentstore/admin.py
  cms/djangoapps/contentstore/helpers.py
  cms/djangoapps/contentstore/management/commands/recreate_upstream_links.py
  cms/djangoapps/contentstore/migrations/0010_container_link_models.py
  cms/djangoapps/contentstore/models.py
  cms/djangoapps/contentstore/rest_api/v1/views/tests/test_vertical_block.py
  cms/djangoapps/contentstore/rest_api/v1/views/vertical_block.py
  cms/djangoapps/contentstore/rest_api/v2/serializers/__init__.py
  cms/djangoapps/contentstore/rest_api/v2/serializers/downstreams.py
  cms/djangoapps/contentstore/rest_api/v2/views/downstreams.py
  cms/djangoapps/contentstore/rest_api/v2/views/tests/test_downstream_sync_integration.py
  cms/djangoapps/contentstore/rest_api/v2/views/tests/test_downstreams.py
  cms/djangoapps/contentstore/signals/handlers.py
  cms/djangoapps/contentstore/tasks.py
  cms/djangoapps/contentstore/tests/test_upstream_downstream_links.py
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/views/preview.py
  cms/djangoapps/contentstore/xblock_storage_handlers/view_handlers.py
  cms/lib/xblock/test/test_upstream_sync.py
  cms/lib/xblock/upstream_sync.py
  cms/lib/xblock/upstream_sync_block.py
  cms/lib/xblock/upstream_sync_container.py
  cms/templates/studio_xblock_wrapper.html
  mypy.ini
  openedx/core/djangoapps/content_libraries/api/__init__.py
  openedx/core/djangoapps/content_libraries/api/block_metadata.py
  openedx/core/djangoapps/content_libraries/api/blocks.py
  openedx/core/djangoapps/content_libraries/api/containers.py
  openedx/core/djangoapps/content_libraries/api/libraries.py
  openedx/core/djangoapps/content_libraries/tests/__init__.py
  openedx/core/djangoapps/content_libraries/tests/base.py
  openedx/core/djangoapps/content_libraries/tests/test_containers.py
  openedx/core/djangoapps/content_tagging/tests/test_objecttag_export_helpers.py
  openedx/core/lib/xblock_serializer/block_serializer.py
  setup.cfg
  xmodule/modulestore/tests/test_mixed_modulestore.py
Labels: open-source-contribution

#36603 feat: added a new field to canvas_entry_properties in enrollment email
  common/djangoapps/student/tasks.py
  common/djangoapps/student/tests/test_tasks.py
Labels: open-source-contribution

#36607 feat: freeze edx-sandbox requirements for teak
  requirements/edx-sandbox/releases/teak.txt
Labels: open-source-contribution

#36608 feat: replace edX® certificate icons
  lms/static/images/programs/sample-cert.png
Labels: open-source-contribution

#36606 Fix/forum patches sumac
  .github/workflows/check-consistent-dependencies.yml
  .github/workflows/ci-static-analysis.yml
  .github/workflows/js-tests.yml
  .github/workflows/migrations-check.yml
  .github/workflows/pylint-checks.yml
  .github/workflows/quality-checks.yml
  .github/workflows/static-assets-check.yml
  .github/workflows/unit-tests.yml
  lms/djangoapps/discussion/django_comment_client/base/tests.py
  lms/djangoapps/discussion/django_comment_client/base/views.py
  lms/djangoapps/discussion/views.py
  openedx/core/djangoapps/django_comment_common/comment_client/comment.py
  openedx/core/djangoapps/django_comment_common/comment_client/models.py
  openedx/core/djangoapps/django_comment_common/comment_client/thread.py
  openedx/core/djangoapps/django_comment_common/comment_client/user.py
  requirements/constraints.txt
  requirements/edx-sandbox/base.in
  requirements/edx-sandbox/base.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/kernel.in
  requirements/edx/testing.txt
  scripts/user_retirement/requirements/base.txt
  scripts/user_retirement/requirements/testing.txt
Labels: open-source-contribution

#36626 feat(teak): update certificate icon
  lms/static/images/programs/sample-cert.png
Labels: open-source-contribution

#36623 fix: unit xblock adaptivity and small visual enhancements
  cms/static/sass/course-unit-mfe-iframe-bundle.scss
Labels: open-source-contribution, create-sandbox

#36624 fix: unit xblock adaptivity and small visual enhancements
  cms/static/sass/course-unit-mfe-iframe-bundle.scss
Labels: open-source-contribution

#36630 fix: update `openedx-learning` to fix a bug where deleted containers were returned on the `get_containers` API method [FC-0083]
  requirements/constraints.txt
  requirements/edx/base.txt
  requirements/edx/development.txt
  requirements/edx/doc.txt
  requirements/edx/testing.txt
Labels: open-source-contribution, FC

#36599 refactor: update sync model helper function docs and minor cleanup
  cms/djangoapps/contentstore/models.py
  cms/djangoapps/contentstore/utils.py
  cms/djangoapps/contentstore/xblock_storage_handlers/view_handlers.py
  openedx/core/djangoapps/content/search/documents.py
  openedx/core/djangoapps/content/search/tests/test_api.py
  openedx/core/djangoapps/content/search/tests/test_documents.py
  openedx/core/djangoapps/content/search/tests/test_handlers.py
Labels: open-source-contribution
